mixin menu(data)
  include ../icon/icon
  .menu
    .menu__inner
      .container
        button.menu__close.btn-close.text-hide.d-none.js-menu-close.d-md-block.d-xl-none
          +icon('close', 14, 14)
          |Закрыть
        ul.menu__main
          li.menu__main-item.active
            a(href="#").menu__main-link Иностранные языки
          li.menu__main-item
            a(href="programs.html").menu__main-link Программы
          li.menu__main-item
            a(href="eng.html").menu__main-link Расписание
          li.menu__main-item
            a(href="#").menu__main-link Цены
          li.menu__main-item
            a(href="#").menu__main-link Акции
          li.menu__main-item
            a(href="#").menu__main-link Школы
          li.menu__main-item
            a(href="about.html").menu__main-link О компании
          li.menu__main-item
            a(href="#").menu__main-link Информация
      .menu__body.d-xl-none
        .container
          ul.menu__additional
            li.menu__additional-item
              a(href="#").menu__additional-link Компаниям
            li.menu__additional-item
              a(href="#").menu__additional-link Франчайзинг
            li.menu__additional-item
              a(href="#").menu__additional-link Разговорный клуб
            li.menu__additional-item
              a(href="#").menu__additional-link Дистанционное обучение
            li.menu__additional-item
              a(href="#").menu__additional-link Онлайн тестирование
          button.menu__registration-course.btn.btn--red записаться на курсы
          .menu__footer
            ul.menu__contacts
              li.menu__contact
                a(href="tel:+484953800520").menu__tel 8 495 380-05-20
                span.menu__desc.d-block Для Москвы, 09:00—18:00
              li.menu__contact
                a(href="tel:+488005554477").menu__tel 8 800 555-44-77
                span.menu__desc.d-block Бесплатно по России
            button.btn.btn--light-blue заказать обратный звонок

