mixin additional(data)
  section.additional.section
    .container
      .row
        .col-xl-6
          .additional__text
            .additional__sect
              h3.h3.additional__subtitle Мы учим верить в собственные силы
              p Все обучение построено так, чтобы пройти тропой маленьких спехов к большим победам. Не важно, 3 года студенту или 50 — начиная с самых первых занятий, ученики добиваются реальных результатов.
              p Каждый новый урок открывает новое, делая окружающий мир интереснее. Каждый ваш успех поощряется преподавателем и группой. Вы оказываетесь в атмосфере, в которой не страшно совершить ошибку и не бывает неловких ситуаций. Все направлено на то, чтобы вдохновить вас через ваши собственные успехи. Одним словом, у нас вы узнаете, что значит получать удовольствие от изучения языка.
            .additional__sect
              h3.h3.additional__subtitle Мы воспитываем лучших преподавателей
              p Мы не просто ищем преподавателей-звезд. Мы выращиваем их сами. Качество обучения, которое мы взяли за стандарт, очень требовательно как к опыту преподавания, так и к навыкам общения преподавателя со студентами, к умению находить личный подход. Чтобы достигнуть этого качества, мы создали собственный центр обучения преподавателей.
              p Прежде чем работать с вами, каждый преподаватель проходит в нем подготовку и сдает квалификационные экзамены. В результате вы получаете исключительную поддержку на всех этапах обучения — от работы в классе до выполнения домашних заданий. Преподаватель находит подход к любому студенту, помогает в любой ситуации, является и экспертом, и собеседником.

        .col-xl-6
          .additional__text
            h3.h3 Мы делаем обучение увлекательным
            p Мы сделали все, чтобы изучение языка превратилось в увлекательный досуг. Забудьте о скучных занятиях, на которых приходится держать себя в руках, чтобы не заснуть! Вместо монотонных упражнений вы занимаетесь постоянными исследованиями и саморазвитием.
            p Занятия проходят не только в стенах учебного центра, но и с выездом в разные интересные места. Тематический разговорный клуб позволяет вам оттачивать навыки общения за чашечкой чая в приятной компании собеседников.
            p Дети и подростки постоянно участвуют в проектных занятиях. Давно известно, что информация гораздо лучше усваивается, когда она связана с яркими эмоциями. Вы ведь прямо сейчас можете восстановить буквально по кадрам ситуации из жизни, подарившие вам яркие воспоминания. Тот же самый принцип мы используем в проектных занятиях — добавляем к обучению множество волнующих эмоций, вовлекая студентов в небольшие приключения. Будь то поход в театр на спектакль на иностранном языке для взрослых или совместная подготовка и презентация плаката о любимых героях для детей.
            p Продолжать можно долго, но ни одни слова не передадут атмосферы, царящей в центрах обучения. Поэтому мы приглашаем вас убедиться во всем лично — просто запишитесь на бесплатное занятие, и все остальное мы сделаем сами.
