mixin additional(data, title)
  section.additional.section
    .container
      if title
        h2.h2.additional__title #{title}
      .row
        each sect in data
          .col-xl-6
            .additional__text
              each item in sect
                .additional__sect
                  h3.h3.additional__subtitle !{item.title}
                  div !{item.text}
