mixin international(data)
  include ../examps-nav/examps-nav
  .international
    +examps-nav('Подготовка к YLE').international__nav
    .container
      .row
        each itemList in data.listCard
          .col-md-6.col-xl-4.d-flex.align-content-stretch
            article.lang-card.page-eng__card.lang-card--border
              h3.page-eng__title-card.lang-card__name
                a(href="#") !{itemList.title}
              span.page-eng__subtitle.grey !{itemList.info}
              p.page-eng__desc.lang-card__desc !{itemList.desc}
              a(href="#").lang-card__more.page-eng__more.btn.btn--border-red подробнее

