mixin departure(data, title)
  .departure&attributes(attributes)
    if title
      .container
        h2.departure__title.h2 #{title}
    if data.subtitle
      .container
        each subtitle in data.subtitle
          p.departure__subtitle.subtitle !{subtitle}
    .departure__inner
      button(type="button").departure__arrow.slide-arrow.slide-arrow--prev.text-hide.js-departure-prev-btn
        +icon('arrow-left', 12, 11)
        | Предадущий слайд
      button(type="button").departure__arrow.slide-arrow.slide-arrow--next.text-hide.js-departure-next-btn
        +icon('arrow-right', 12, 11)
        | Следующий слайд
      .container
        ul(class="departure__slider "+data.classSlider)
          each item in data.images
            li.departure__slide
              img(src="%=static=%img/content/"+item.src alt=item.alt)
        if data.textBottom
          p.departure__text-bottom !{data.textBottom}
