mixin method-study(data)
  include ../trial-lesson/trial-lesson
  section.method-study.section--grey
    .container
      h2.method-study__title.h2 Методика обучения
      p.method-study__subtitle.subtitle Преподавание проводится по уникальным авторским методикам, которые разработаны нашими специалистами. Они вобрали в себя лучшие наработки известных мировых языковых школ, которые уже доказали свою эффективность в обучении детей и взрослых с совершенно разными начальными уровнями знаний.
      p Во время обучения большое внимание уделяется коммуникативным практикам, что позволяет каждому посетителю наших курсов быстро и незаметно преодолеть психологический барьер, освоить необходимую лексическую базу без зазубривания, легко влиться в языковую среду. Также используется масса современных интерактивных материалов, темы которых выбираются с учетом интересов и возраста наших слушателей.
      h3.method-study__title-third-level.h3 Для кого подойдут курсы?
      .method-study__options
        .row
          .col-md-4
            .method-study__item
              .method-study__icon.method-study__icon--people-1
                img(src="%=static=%/img/general/for-course-1.svg" width="38" height="46" alt="Дети дошкольного возраста ")
              .method-study__content
                h4.method-study__subject.h3 Дети дошкольного возраста
                p.method-study__text познакомятся с новой лексикой в свободной игровой форме, научатся общаться, закрепят навыки счета, чтения и письма.
          .col-md-4
            .method-study__item
              .method-study__icon.method-study__icon--people-2
                img(src="%=static=%/img/general/for-course-2.svg" width="34" height="47" alt="Школьникам")
              .method-study__content
                h4.method-study__subject.h3 Школьникам
                p.method-study__text предлагается помощь в освоении школьной программы, получении новых знаний, подготовке к сдаче государственных экзаменов и международных тестов.
          .col-md-4
            .method-study__item
              .method-study__icon.method-study__icon--people-3
                img(src="%=static=%/img/general/for-course-3.svg" width="39" height="46" alt="Взрослые")
              .method-study__content
                h4.method-study__subject.h3 Взрослые
                p.method-study__text в зависимости от своих задач смогут начать изучение с нуля или повысить уже имеющийся уровень владения языком.
      p.method-study__footer-text Мы делаем все возможное, чтобы качественные и недорогие образовательные услуги были доступны всем, именно поэтому курсы в Центре YES проводятся по разным графикам – днем, по вечерам и в выходные. Если же Вы не нашли подходящее расписание, обратитесь к нашим консультантам — новые группы формируются регулярно, и мы обязательно учтем Ваши пожелания. А чтобы Вы смогли оценить перспективы обучения в школе YES, мы предлагаем прийти на бесплатное пробное занятие. Результаты нашей методики и работы опытных преподавателей заметны сразу — убедитесь в этом сами!
      +trial-lesson()
