mixin promo(data)
  include ../icon/icon

  section.promo
    .container-fluid
      .promo__slider-wrapper
        button(type="button").promo__arrow.slide-arrow.slide-arrow--prev.text-hide.js-promo-prev-btn
          +icon('arrow-left', 12, 11)
          |Предадущий слайд
        button(type="button").promo__arrow.slide-arrow.slide-arrow--next.text-hide.js-promo-next-btn
          +icon('arrow-right', 12, 11)
          | Следующий слайд
        ul.promo__slider.js-promo-slider
          li.promo__slide
            div.promo__bg-image
              img(src="%=static=%img/content/promo-1@2x.jpg" width="671" height="408" alt="Английская школа актерского мастерства")
              .promo__body
                h3.promo__title Английская
                  br
                  | школа актерского
                  br
                  | мастерства
                p.promo__subtitle Вырабатывает навык изъясняться на английском языке красиво и правильно.
                a(href="#").promo__btn.btn.btn--border-white Подробнее
          li.promo__slide
            div.promo__bg-image
              img(src="%=static=%img/content/promo-2@2x.jpg" width="671" height="408" alt="Интенсивный языковой практикум в Лондоне")
            .promo__body
                h3.promo__title Интенсивный
                  br
                  | языковой практикум
                  br
                  | в Лондоне
                p.promo__subtitle 18—21 марта
                  br
                  | Успейте записаться!
                a(href="#").promo__btn.btn.btn--border-white Подробнее
          li.promo__slide
            div.promo__bg-image
              img(src="%=static=%img/content/promo-1@2x.jpg" width="671" height="408" alt="Английская школа актерского мастерства")
              .promo__body
                h3.promo__title Английская
                  br
                  | школа актерского
                  br
                  | мастерства
                p.promo__subtitle Вырабатывает навык изъясняться на английскомязыке красиво и правильно.
                a(href="#").promo__btn.btn.btn--border-white Подробнее
    .promo__footer
      .container
        .promo__footer
          .row.justify-content-md-between.align-items-center
            .col-md-auto
              .promo__dots
            .col-md-auto.text-center
              a(href="#").show-all Показать все акции
               span &nbsp;&rarr;
