include ../components/head/head.pug
include ../components/footer/footer.pug
include ../components/header/header
include ../components/subscribe/subscribe
include ../components/callback/callback
include ../components/modal-search/modal-search
include ../components/modal-location/modal-location
include ../components/breadcrumb/breadcrumb
include ../components/forms-education/forms-education
include ../components/history/history
include ../components/additional/additional
include ../components/departure/departure
include ../components/interestring-education/interestring-education
include ../components/teachers/teachers
include ../components/partners/partners
include ../components/news/news
include ../components/map/map
include ../components/reviews/reviews
include ../components/features/features
include ../components/video-data/video-data
include ../components/text-section/text-section
include ../components/promo/promo
include ../components/trial-lesson/trial-lesson
include ../components/icon/icon

doctype html
html(class="no-js", lang="ru")
  head
    +head(head.defaults)
  body
    .page-wrapper
      +header(headerDefault)
      block main
      +subscribe()
      +footer()
    +callback()
    +modal-search()
    +modal-location()
    block endBody
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    block mapScript
    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%.js')
