extends _template
block main
  include ../components/about/about
  .container
    +breadcrumb(breadcrumb.about)
  +about()
  +forms-education(ourMission).forms-education--our-mission
  +history(history)
  +additional(additionalText.pageAbout)
  +departure(departure)
  +teachers(teachers, true, 'Наши преподаватели').teachers--bb-none
  +interestring-education(interestingEducation).interestring-education--padding-bottom.section--grey
