extends _template
block main
  include ../components/actions/actions
  include ../components/progects/projects
  .container
    +breadcrumb(breadcrumb.actions)
  +actions(actions)
  +projects(projects)
  +interestring-education(interestingEducation).interestring-education--padding-bottom.pb-0

