extends _template
block main
  include ../components/album/album
  include ../components/big-photo/big-photo
  .container
    +breadcrumb(breadcrumb.album)
  +album(album)
  block endBody
    +big-photo()
