extends _template
block main
  include ../components/base/base
  .container
    +breadcrumb(breadcrumb.base)
  section.page-programs
    .container
      h2.h2.page-programs__title База знаний
      p.page-programs__subtitle.subtitle Нужно немного текста с информацией что это за раздел. Информацию о цене курса можно узнать по нашему телефону или написать нам по электронной почте, и мы подберем подходящий вам вариант и рассчитаем стоимость.
  +base(pageForeignLang)
