extends _template
block main
  include ../components/thanks/thanks
  include ../components/page-corporate/page-corporate
  include ../components/corporate-education/corporate-education
  include ../components/page-corporate-fr/page-corporate-fr

  .container
    +breadcrumb(breadcrumb.corporateFr)
  +corporate-education(corporate.defaultFr)
  +page-corporate-fr(pageCorporateFr)
  +additional(additionalText.pageCorporate, 'Почему компании выбирают нас?').additional--video-data
  +departure(departure)
  +history(pageProgramsStatistics).history--no-line.history--bdt-line
  +teachers(teachers, true, 'Наши преподаватели').teachers--bt-none
  +page-corporate(pageForeignLang, 'single')
  +partners(partners.corporate).partners--third-row.section--grey
  +thanks(thanks)
  +map()
  block mapScript
    +mapScript()
