extends _template
block main
  include ../components/thanks/thanks
  include ../components/page-corporate/page-corporate
  include ../components/corporate-education/corporate-education

  .container
    +breadcrumb(breadcrumb.corporate)
  +corporate-education(corporate.default)
  +page-corporate(pageForeignLang).section--grey
  +additional(additionalText.pageCorporate, 'Почему компании выбирают нас?').additional--video-data
  +departure(departure)
  +history(pageProgramsStatistics).history--no-line.history--bdt-line
  +teachers(teachers).teachers--no-border
  +partners(partners.corporate).partners--third-row.section--grey
  +thanks(thanks)
  +map()
  block mapScript
    +mapScript()
