extends _template
block main
  include ../components/examps-nav/examps-nav
  include ../components/hot-schedule/hot-schedule
  include ../components/forms-education/forms-education
  .container
    +breadcrumb(breadcrumb.exampsilts)
  .container
    h2.h2.h2--no-text-bottom Курсы подготовки к экзамену IELTS
  +examps-nav('Подготовка к IELTS').course-nav

  section.text-section.text-section--ilts
    .container
      .text-section__content
        p Знания иностранных языков в&#160;современном мире является своеобразным показателем уровня вашего профессионализма. Многие успешные компании и&#160;фирмы при приеме на&#160;работу требуют владения английским языком не&#160;ниже уровня &#171;Intermediate&#187; или наличия международного сертификата International English Language Testing System, более знакомого многим как IELTS.
        p Языковой центр YES проводит набор желающих на&#160;курсы подготовки к&#160;IELTS. Наша школа поможет Вам в&#160;достижении необходимого уровня владения английским языком для прохождения аттестации по&#160;одной из&#160;самых авторитетных международных систем.
        p.h3 Сдача IELTS длится 2,5&#160;&#8212; 3&#160;часа и&#160;проводится по&#160;двум модулям:
        ul
          li Для работы в&#160;странах с&#160;государственным английским языком и&#160;иммиграции за&#160;рубеж вам будет нужно сдавать общий модуль.
          li Для учебы в&#160;зарубежных университетах необходим академический модуль.
  section.text-section.text-section--second-columns.section
    .container
      h2.text-section__title.h2 IELTS&#160;&#8212; международная система оценки знания английского языка
      .text-section__content
        .row
          .col-xl-6.
            <p>Преимущества системы в&#160;том, что тестировать свои знания можно столько раз, сколько будет необходимо для набора сертификационных баллов. Экзамен IELTS по&#160;английскому языку оценивается
            по&#160;девятибалльной шкале&#160;&#8212; от&#160;1 (минимум) до&#160;9 (максимум). Конечно, при получении 3-4 баллов вам придется снова возвращаться, но&#160;оценка
            в&#160;6,5-7,5&#160;&#8212; вполне достаточный результат для прохождения аттестации.</p>

            <p>Срок действия сертификата&#160;&#8212; 2&#160;года с&#160;момента выдачи. Кроме возможности учиться или работать за&#160;границей, он&#160;помогает найти более высокооплачиваемую должность или подняться по&#160;карьерной лестнице.</p>

            <p>Для того чтобы гарантированно сдать тест IELTS по&#160;английскому языку, каждому желающему придется пройти предварительную подготовку. Выбирая обучение на&#160;курсах центра YES, Вы&#160;получите необходимый уровень знаний, чтобы уверенно чувствовать себя во&#160;время тестирования.</p>

            <p>Наши преподаватели применяют передовые методики для обучения своих студентов, используя рекомендованные международными сообществами книги, учебники, видео- и&#160;аудио-материалы.</p>

            <p>После завершения каждой темы проводится промежуточное оценивание, позволяющее выявить слабые места в&#160;Вашей подготовке. Это важный этап в&#160;прохождении подготовительных курсов, позволяющий избежать волнений и&#160;стрессов во&#160;время сдачи экзамена.</p>
          .col-xl-6.
            <p>Подготовка к&#160;экзамену IELTS в&#160;Москве может длиться от&#160;1&#160;дня
            и&#160;до&#160;нескольких лет&#160;&#8212; это зависит от&#160;вашего базового уровня знаний
            и&#160;владения четырьмя основными языковыми составляющими (Listening, Reading, Writing, Speaking&#160;&#8212; аудирование, чтение, письменная и&#160;устная речь).</p>
            <p>Проходя курсы подготовки к&#160;тестам IELTS, нужно быть готовым к&#160;полному погружению в&#160;язык и&#160;интенсивным нагрузкам&#160;&#8212; только при таких условиях вы&#160;сможете не&#160;просто свободно излагать свои мысли собеседнику,
            но&#160;и&#160;понимать его без &#171;внутреннего переводчика&#187;. Для этого в&#160;школе YES разработана эффективная методика на&#160;базе лучших педагогических приемов.</p>
            <p>Стоимость занятий будет зависеть от&#160;выбранного вами метода подготовки: индивидуального или группового. Групповые занятия дешевле, но&#160;они проходят на&#160;территории центра. А&#160;вот индивидуальные занятия
            с&#160;педагогом хотя и&#160;стоят дороже, но&#160;их&#160;можно проводить онлайн.</p>
            <p>Пройдите заранее тестирование Вашего знания английского, чтобы наши специалисты подобрали вам подходящую программу&#160;&#8212; это сэкономит ваше время и&#160;деньги, а&#160;подготовка даст в&#160;итоге оптимальный результат.</p>


  +hot-schedule(closestCourses)
  .section.hot-schedule-text
    .container.
      <p>Ваши знания ограничены школьным курсом? Не&#160;беда! В&#160;нашей школе&#160;Вы сможете поднять их&#160;на&#160;занятиях английским для начинающих.</p>
      <p>Свободно читаете, но&#160;трудности с&#160;произношением, а&#160;времени мало? Тогда Вам предложат полугодовые курсы, в&#160;течение которых&#160;Вы разовьете уже имеющиеся лингвистические навыки и&#160;несколько раз пройдете предварительное тестирование, чтобы на&#160;экзамене чувствовать себя свободно. Ну&#160;а&#160;если&#160;Вы ограничены во&#160;времени, тогда подойдет интенсивный курс.</p>
      <p>Выбирая курс и&#160;интенсивность занятий в&#160;центре YES, помните: наши преподаватели всегда готовы прийти на&#160;помощь и&#160;остановиться на&#160;тех моментах, которые представляют для Вас наибольшую сложность. Не&#160;стесняйтесь задавать вопросы при подготовке к&#160;IELTS!</p>

  +forms-education-ilts(questions).hot-schedule-questions
  section.history.section.history--no-line.exam-stat
    .container
      .history__inner
        .row.no-gutters.justify-content-md-between
          div(class="col-md-auto col-xl-4")
            div(class="history__item history__item--first")
              span.history__year.history__year--medium 55&#160;000
              p.history__desc Наших слушателей ежегодно
                | сдают тест IELTS
          div(class="col-md-auto col-xl-4")
            div(class="history__item history__item--second")
              span.history__year.history__year--medium 99,0%
              p.history__desc Студентов успешно сдают тест IELTS с&#160;первого раза.
          div(class="col-md-auto col-xl-4")
            div(class="history__item history__item--third")
              span.history__year.history__year--medium 13
              p.history__desc Программ подготовки к&#160;Кембриджским экзаменам используется в&#160;нашем центре
  +reviews(reviews, 'отзывы о нашем центре')
  +teachers(teachers, true, 'Наши преподаватели')
  +map()
  block mapScript
    +mapScript()

