extends _template
block main
  include ../components/page-forKids/page-forKids

  .container
    +breadcrumb(breadcrumb.forKids)
  section.page-forKids-intro
    .container
      h2.h2.page-programs__title Курсы английского языка для детей
      p.page-forKids-intro__subtitle.subtitle Прежде чем записать ребенка на курс английского языка, Вам самим нужно понять, зачем Вы это делаете? Возможно, потому что на этом иностранном языке говорит полмира. Или для того, чтобы ребенок открыл новые возможности для общения и поиска нужной информации. Причины разные, итог один — ваш малыш, обучаясь в Центре иностранных языков YES в городе Москве, будет говорить на английском языке свободно, красиво, без акцента. Не верите? Приходите на первое бесплатное занятие в школу YES и сами всё увидите!
  +features(features.forKidsPage).pt-0.features--no-border.page-kids__features.features--no-shadow
  +page-forKids(pageForKidsX)
  +video-data(videoData.forKidsPage, 'Как проходят наши занятия').video-data--has-subtitle
  +teachers(teachers, true, 'Наши преподаватели')
  +departure(departure, 'Комфортные учебные комнаты').section
  +reviews(reviews, 'отзывы наших учеников').reviews--border-top
  +map()
block mapScript
  +mapScript()
