doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header
  include ../components/breadcrumb/breadcrumb
  include ../components/features/features
  include ../components/page-forKids/page-forKids
  include ../components/video-data/video-data
  include ../components/teachers/teachers
  include ../components/departure/departure
  include ../components/map/map
  include ../components/subscribe/subscribe
  include ../components/reviews/reviews

  head
    +head(head.defaults)
  body
    .page-wrapper
      +header()
      .container
        +breadcrumb(breadcrumb.forKids)
      section.page-forKids-intro
        .container
          h1.h2.page-programs__title Курсы английского языка для детей
          p.page-forKids-intro__subtitle.subtitle Прежде чем записать ребенка на курс английского языка, Вам самим нужно понять, зачем Вы это делаете? Возможно, потому что на этом иностранном языке говорит полмира. Или для того, чтобы ребенок открыл новые возможности для общения и поиска нужной информации. Причины разные, итог один — ваш малыш, обучаясь в Центре иностранных языков YES в городе Москве, будет говорить на английском языке свободно, красиво, без акцента. Не верите? Приходите на первое бесплатное занятие в школу YES и сами всё увидите!
      +features(features.forKidsPage).pt-0.features--no-border.page-kids__features
      +page-forKids(pageForKidsX)
      +video-data(videoData.forKidsPage).video-data--has-subtitle
      +teachers(teachers, true, 'Наши преподаватели')
      +departure(departure, 'Комфортные учебные комнаты').section
      +reviews(reviews, 'отзывы наших учеников').reviews--border-top
      +map()
      +subscribe()
      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%.js')
