extends _template
block main
  include ../components/page-foreign-lang/page-foreign-lang

  .container
    +breadcrumb(breadcrumb.foreign)
  section.page-programs
    .container
      h2.h2.page-programs__title Курсы иностранных языков
      p.page-programs__subtitle.subtitle Хотите получить образование международного уровня? Мечтаете в совершенстве овладеть иностранным языком в короткие сроки? Обращайтесь в лингвистический центр YES! Школа YES — это инновационные учебные материалы, эффективные программы, профессиональный преподавательский состав и 100% гарантия успешного изучения иностранного языка. Благодаря уникальной методике FlashCom вы легко освоите иностранный язык и в дальнейшем сможете самостоятельно использовать навыки для совершенствования полученных знаний!
  +page-foreign-lang(pageForeignLang.list)
  +additional(additionalText.pageProgram, 'Почему выбирают обучение в YES?')
  +reviews(reviews, 'отзывы наших учеников').reviews--border-top
  +map()
block mapScript
  +mapScript()
