extends _template
block main
  include ../components/promo/promo
  include ../components/courses/courses
  include ../components/certifications/certifications
  include ../components/causes/causes

  +promo(defaultPhotos)
  +courses(courses, true)
  +features(features.mainPage)
  +certifications()
  +video-data(videoData.mainPage, 'видеоматериалы').section--grey
  +reviews(reviews, 'отзывы наших учеников')
  +teachers(teachers, true, 'Наши преподаватели')
  +news()
  +map()
  +partners(partners.mainPage)
  +causes()
  +forms-education(formEducation)
block mapScript
  +mapScript()
