doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header
  include ../components/promo/promo
  include ../components/courses/courses
  include ../components/features/features
  head
    +head(head.defaults)
  body
    .page-wrapper
      +header()
      +promo()
      +courses(courses.en)
      +features()
      +footer()
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
