doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header
  include ../components/breadcrumb/breadcrumb
  include ../components/subscribe/subscribe
  include ../components/history/history
  include ../components/departure/departure
  include ../components/teachers/teachers
  include ../components/reviews/reviews
  include ../components/map/map
  include ../components/international/international
  head
    +head(head.defaults)
  body
    .page-wrapper
      +header()
      .container
        +breadcrumb(breadcrumb.international)
      section.page-programs
        .container
          h1.h2.page-programs__title Международные экзамены по&#160английскому&#160;языку
          p.page-programs__subtitle.subtitle Международные экзамены по английскому языку помогут узнать, насколько эффективными оказались для вас курсы подготовки и порделелить свой уровень знаний. К тому же они являются обязательными перед трудоустройсвом за границей или при поступлении в англоязычный вуз. Существует три основных виды испытаний: IELTS, TOEFL и экзамены Кембриджской группы. Выбор зависит от страны, в которой вы планируете использовать язык, и сферы его применения. Результаты экзаменов IELTS и TOEFL действительны в течении 2 лет. Результаты прохождения Кембриджских испытаний - бессрочны.
      +international(internationalTests)
      +history(pageInternationalPreparation).history--no-line.history--bdt-line.mt-0.history--intarnational
      +departure(departureInternational, 'YES - готовимся и сдаем международные экзамены вместе').departure--border-bottom.departure--has-subtitle
      +teachers(teachers,true, 'Наши преподаватели').teachers--bt-none
      +reviews(reviews, 'отзывы о нашем центре')
      +map()
      +subscribe()
      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%.js')
