extends _template
block main
  include ../components/page-jobs/page-jobs
  include ../components/modal-job/modal-job

  .container
    +breadcrumb(breadcrumb.jobs)
  +page-jobs()
  +forms-education(aboutLittle).page-jobs__about
  +departure(departure).page-jobs__departure
  +teachers(teachers, true, 'Наши преподаватели').pb-0.page-jobs__teachers.teachers--bb-none
  +subscribe()
  +footer()
block endBody
  +modal-job()
