extends _template
block main
  include ../components/online-lesson/online-lesson
  include ../components/exercise/exercise
  include ../components/article-navs/article-navs

  .container
    +breadcrumb(breadcrumb.onlineLesson)
  .container.h2--bottom-block
    h2.h2.h2--no-text-bottom.h2--bottom-block  King's Speech (Broadcast)
  +article-navs('Уроки онлайн')
  +offline-lesson()
  +exercise()
