extends _template
block main
  include ../components/pay/pay

  .container
    +breadcrumb(breadcrumb.english)
  .container.h2--bottom-block
    h2.h2.h2--no-text-bottom.h2--bottom-block Обучение английскому языку
  +pay(pay)
block mapScript
  +mapScript()
