doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header
  include ../components/breadcrumb/breadcrumb
  include ../components/subscribe/subscribe
  include ../components/departure/departure
  include ../components/reviews/reviews
  include ../components/map/map
  include ../components/forms-education/forms-education
  include ../components/features/features
  include ../components/playschool/playschool
  include ../components/callback/callback
  include ../components/modal-search/modal-search
  include ../components/modal-location/modal-location
  head
    +head(head.defaults)
  body
    .page-wrapper
      +header(headerDefault)
      .container
        +breadcrumb(breadcrumb.playschool)
      +playschool()
      +features(features.playschoolPage).features--icon-start.features--no-border.features--no-shadow
      section.forms-education.forms-education--no-slider.section.section--grey
        .container
          h2.forms-education__title.h2 Что получит ваш ребенок на занятиях в британском детском садике YES
          .forms-education__row
            .forms-education__col
              article.forms-education__item
                h3.forms-education__subject Устная речь
                p.forms-education__text Малыши учатся рассказывать о своей семье, описывать игрушки, животных, членов семьи, себя и своих друзей. Они начинают выражать свое мнение на английском языке, умеют давать советы, рассказывать о своей жизни.
            .forms-education__col
              article.forms-education__item
                h3.forms-education__subject Чтение
                p.forms-education__text Дети, освоившие навыки чтения народном языке, обучаются чтению на английском. Им под силу небольшие диалоги, рассказы и комиксы.
            .forms-education__col
              article.forms-education__item
                h3.forms-education__subject Письмо
                p.forms-education__text На данном этапе мы учим ребят писать отдельные слова, которые после формируются в небольшие предложения например, в надписи к поздравительным открыткам.
      +departure(departurePlaySchool, 'Как проходят наши занятия').departure--border-bottom.departure--has-subtitle
      +reviews(reviews, 'отзывы о британском детском садике')
      +map()
      +subscribe()
      +footer()
    +callback()
    +modal-search()
    +modal-location()
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer)
    script(src='%=static=%js/main%=hash=%.js')
