extends _template
block main
  include ../components/programs/programs

  .container
    +breadcrumb(breadcrumb.programs)
  section.page-programs
    .container
      h2.h2.page-programs__title Программы по&#160;изучению иностранных языков
      p.page-programs__subtitle.subtitle Иностранный язык эффективнее учить в&#160;стране его бытования. Но&#160;что делать, если у&#160;Вас нет возможности поехать во&#160;Францию и&#160;осваивать французский в&#160;аутентичной обстановке? Тогда Вам нужно найти такую школу, где создают условия для полного погружения в&#160;языковую среду. Обучение иностранным языкам в&#160;центре изучения YES построено именно по&#160;такому принципу. Учите иностранный язык эффективно! Не&#160;повторяйте школьных ошибок!
  +programs(programs, true)
  +additional(additionalText.pageProgram, 'Почему выбирают обучение в YES?')
  +departure(departure)
  +history(pageProgramsStatistics).history--no-line.history--bdt-line
  +reviews(reviews, 'отзывы наших учеников')
  +map()
block mapScript
  +mapScript()
