extends _template
block main
  include ../components/page-reg/page-reg
  .container
    +breadcrumb(breadcrumb.reg)
  section.page-programs
    .container
      h2.h2.page-programs__title Регистрация на курс по иностранному языку
      p.page-programs__subtitle.subtitle Уже на протяжении 15 лет мы обучаем своих студентов иностранным языкам, благодаря чему они занимают высокооплачиваемые должности, получают престижное образование за рубежом, свободно путешествуют по миру без каких-либо языковых барьеров. Наш Центр языков предлагает своим клиентам профессиональное обучение испанскому, французскому, японскому, английскому языку и многим другим иностранным языкам.
  +page-reg()
