doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/footer/footer.pug
  include ../components/header/header
  include ../components/breadcrumb/breadcrumb
  include ../components/subscribe/subscribe
  include ../components/page-school/page-school
  include ../components/departure/departure
  include ../components/teachers/teachers
  include ../components/interestring-education/interestring-education
  include ../components/method-study/method-study
  include ../components/our-program/our-program
  head
    +head(head.defaults)
  body
    .page-wrapper
      +header()
      .container
        +breadcrumb(breadcrumb.pagePaveleckayaSchool)
      +page-school(paveleckayaSchool)
      +our-program(pageForeignLang.list).section--grey
      +departure(departureSchool, 'наша Школа НА ПАВЕЛЕЦКОЙ').departure--school
      +method-study()
      +teachers(teachers, true, 'НАШИ преподаватели').teachers--bb-none.pb-0.teachers--bt-none
      +subscribe()
      +interestring-education(interestingEducation).pt-0.interestring-education--padding-bottom
      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src='%=static=%js/main%=hash=%.js')
