extends _template
block main
  include ../components/courses/courses
  include ../components/certifications/certifications
  include ../components/causes/causes
  include ../components/section-text/section-text
  +promo(defaultPhotos)
  +courses(coursesAdd, true)
  +features(features.mainPage)
  +certifications()
  +video-data(videoData.mainPage, 'видеоматериалы').section--grey
  +reviews(reviews, 'отзывы о нашем центре')
  +teachers(teachers, true, 'Наша гордость — это наши преподаватели')
  +news()
  +map()
  +partners(partners.mainPage)
  +section-text()
block mapScript
  +mapScript()
