extends _template
block main
  include ../components/page-school/page-school
  include ../components/method-study/method-study
  include ../components/our-program/our-program

  .container
    +breadcrumb(breadcrumb.pagePaveleckayaSchool)
  +page-school(paveleckayaSchool).page-school--paveleckaya
  +our-program(pageForeignLang.list).section--grey
  +departure(departureSchool, 'наша Школа НА ПАВЕЛЕЦКОЙ').departure--school
  +method-study()
  +teachers(teachers, true, 'НАШИ преподаватели').teachers--bb-none.pb-0.teachers--bt-none
block mapScript
  +mapScript()
