extends _template
block main
  include ../components/shares/shares
  .container
    +breadcrumb(breadcrumb.shares)
  +shares()
  +interestring-education(interestingEducation).interestring-education--padding-bottom.pb-0
