doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/icon/icon
  include ../components/social/social

  head
    +head(head.defaults)
  body
    section.pt-3.pb-3.section.section--grey
      .container
        .row
          .col-4
            .row
              .col-12.mb-2
                button(type="button").btn.btn--red Кнопка
              .col-12.mb-2
                button(type="button").btn.btn--border-red Кнопка
              .col-12.mb-2
                button(type="button").btn.btn--grey Кнопка
              .col-12.mb-2
                button(type="button").btn.btn--light-blue Кнопка
              .col-12.mb-2
                button(type="button").btn.btn--border-white Кнопка
              .col-12.mb-2
                .row.justify-content-between
                  .col-auto
                    button(type="button").slide-arrow.slide-arrow--prev.text-hide.js-reviews-prev-btn
                      +icon('arrow-left', 12, 11)
                      | Предадущий слайд
                  .col-auto
                    button(type="button").slide-arrow.slide-arrow--next.text-hide.js-reviews-prev-btn
                      +icon('arrow-right', 12, 11)
                      | Следующий слайд

          .col-3
            h2.h2 Заголовок
            a(href="#").show-all смотреть все видеоматериалы
              span &nbsp;&rarr;
          .col
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta eveniet, itaque magnam minus molestias praesentium quaerat quibusdam quisquam quo repellat velit. Aliquid ipsa laudantium molestiae nam nihil! Eaque, excepturi!
        .w-100
        .col-auto
          +social(socialFooter)

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%.js')
