extends _template
block main
  include ../components/page-teacher/page-teacher

  .container
    +breadcrumb(breadcrumb.teacher)
  +page-teacher()
  +trial-lesson(true).page-teacher__trial-lesson.section
  +interestring-education(interestingEducation)
