mixin features(data)
  section.features
    .container
      h2.features__title.h2 Наши преимущества
      .row.justify-content-xl-between
        .col-md-6.col-xl
          .features__item
            .features__img.features__img--light
              img(src="%=static=%img/general/light.svg" width="30" height="44" alt="Уникальная авторская методика без зубрежки")
            h3.features__name
              a(href="#") Уникальная
                br
                | авторская методика
                br
                | без зубрежки
        .col-md-6.col-xl
          .features__item
            .features__img.features__img--book
              img(src="%=static=%img/general/book.svg" width="44" height="43" alt="Индивидуальный план по достижению ваших целий")
            h3.features__name
              a(href="#") Индивидуальный
                br
                |план по достижению
                br
                | ваших целий
        .col-md-6.col-xl
          .features__item
            .features__img.features__img--cup
              img(src="%=static=%img/general/cup.svg" width="32" height="42" alt="Наши студенты успешно сдают международные экзамены")
            h3.features__name
              a(href="#") Наши студенты успешно
                br
                |сдают международные
                br
                | экзамены
        .col-md-6.col-xl
          .features__item
            .features__img.features__img--education
              img(src="%=static=%img/general/education.svg" width="45" height="42" alt="Собственный учебно методогический центр для преподавателей")
            h3.features__name
              a(href="#") Собственный учебно -
                br
                | методогический
                br
                | центр для
                br
                | преподавателей
        .col-md-6.col-xl
          .features__item
            .features__img.features__img--children
              img(src="%=static=%img/general/children.svg" width="35" height="46" alt="Обучение детей наше приоритетное направление")
            h3.features__name
              a(href="#") Обучение детей -
                br
                | наше приоритетное
                br
                | направление

