.foreign-course {
  padding-top: 32px;
  @include media-breakpoint-up(md) {
    padding-top: 48px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 88px;
  }
    &--no-title {
      @include media-breakpoint-up(xl) {
        padding-top: 110px;
      }
    }
  &__list {
    margin-bottom: 26px;
    @include media-breakpoint-up(md) {
      margin-bottom: 8px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 48px;
    }
  }
  &__item {
    &.lang-card {
      min-height: 160px;
      margin-bottom: 24px;
      padding-top: 30px;
      width: 100%;

      @include media-breakpoint-up(md) {
        min-height: 200px;
        margin-bottom: 32px;
        padding-right: 32px;
        padding-left: 32px;
      }
      @include media-breakpoint-up(xl) {
        min-height: 224px;
      }
    }
  }
  &__subtitle {
    margin-bottom: 4px;
    display: block;
    @include media-breakpoint-up(xl) {
      margin-bottom: 18px;
    }
  }
  .courses__desc {
    @include media-breakpoint-up(md) {
      padding-top: 10px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 83px;
    }

  }
  .lang-card__lang-title span {
    display: block;
    @include media-breakpoint-up(md) {
      display: inline;
    }
    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}
