mixin lytkarino-filters()
  include ../filters/filters
  include ../lytkarinoSchelude/lytkarino-schelude
  include ../trial-lesson/trial-lesson
  section.lytkarino-filters.section--grey
    .container
      h2.lytkarino-filters__title.h2 Центр иностранных языков YES в&nbsp;Лыткарино
        span приглашает на&nbsp;обучение!
      p.lytkarino-filters__subtitle.subtitle Изучение иностранных языков стоит на&nbsp;одном из&nbsp;первых мест в&nbsp;системе образования. На&nbsp;сегодняшний день знание языков необходимо каждому человеку, будь&nbsp;то студент иностранного вуза или рядовой менеджер в&nbsp;компании. Уже трудно представить успешного человека, занимающего высокое положение, не&nbsp;владеющего хотя&nbsp;бы одним иностранным языком. И&nbsp;каждая крупная компания, набирающая в&nbsp;штат сотрудников, проводит тщательный отбор кандидатов с&nbsp;высоким уровнем знания иностранных языков. Но&nbsp;языки необходимы не&nbsp;только для продвижения по&nbsp;карьерной лестнице, а&nbsp;также для сдачи международных экзаменов и&nbsp;поступлению в&nbsp;зарубежный вуз. Выучить иностранные языки в&nbsp;Лыткарино легко и&nbsp;доступно. Если Вы&nbsp;имеете негативный опыт в&nbsp;изучении языков, Вам обязательно нужно прийти к&nbsp;нам на&nbsp;занятия, чтобы посмотреть на&nbsp;процесс освоения учебного материала, и&nbsp;убедиться, насколько интересными и&nbsp;занимательными бывают уроки.
      +filters(filterLytkarino)
      +lytkarino-schelude(scheduleLytkarino)
      +trial-lesson(false)
