// Common styles of the project
body {
font: 15px/1.6 Intro, Arial sans-serif;
  color: $text-color;
  letter-spacing: 0.3px;
  min-width: 320px;
}

a {
  font-size: 16px;
  line-height: 1.25;
  color: $text-color;
  transition: $transition-base;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $primary-red;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: $text-color !important;
}
p {
  margin-top: 0;
  font: 14px/22px 'Open Sans', sans-serif;
  color: #252525;
}


.subtitle {
  margin-bottom: 28px;
  font-family: 'Open Sans', Intro sans-serif;
  line-height: 22px;
  color: $text-color;
  @include media-breakpoint-up(md) {
    margin-bottom: 38px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}
.container,
.container-fluid {
  padding-right: 24px;
  padding-left: 24px;
  @include media-breakpoint-up(md) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: 400;
}
.h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font: 18px/26px Intro, Arial sans-serif;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.357;
    letter-spacing: 1px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 30px;
    letter-spacing: 1.1px;
  }
}
.h3 {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  @include media-breakpoint-up(md) {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 26px;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 25px;
  }
}
.section {
  padding-top: 26px;
  padding-bottom: 32px;
  &--grey {
    background-color: #F0F2F3;
  }
  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 64px;
    padding-bottom: 88px;
  }
}
.page-wrapper {
  max-width: 1344px;
  margin: 0 auto;
  overflow: hidden;
  @include media-breakpoint-up(xl) {
    overflow: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
}
.icon {
  transition: $transition-base;
}
img {
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.modal-dialog {
  .map__form {
    pointer-events: auto;
  }
}
.modal-backdrop.show {
  background-color: #252525;
}
