.btn {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 20px;
  font: 11px/2 Intro, Arial sans-serif;
  letter-spacing: 1.1px;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: $transition-base;
  cursor: pointer;

  &--border-red {
    color: $secondary-red;
    border: 1px solid #ed1c24;
    background-color: #fff;
    &:hover {
      border-color: #b82730;
    }

  }
  &--border-white {
    border-color: #ffffff;
    color: #fff;
    background-color: transparent;
    letter-spacing: 0.8px;
  }
  &--grey {
    background-color: transparent;
    border-color: #d7d7d7;
    letter-spacing: 0.8px;
    color: #fff;
  }
  &--light-blue {
    border-color: rgba(#d7d7d7, .3);
    background-color: transparent;
    color: #ffffff;
  }
  &:hover {
    border-color: $primary-red;
    background-color: $primary-red;
    color: #fff;
  }
  &:active {
    background-color: darken(#b82730, 10%);
  }
  &--red {
    border-color: $primary-red;
    color: #fff;
    background-color: $primary-red;
    &:hover {
      background-color: #b82730;
      border-color: #b82730;
    }
  }
  &--border-red-sm {
    padding-top: 4px;
    padding-bottom: 4px;
    color: $secondary-red;
    border: 1px solid #ed1c24;
    background-color: transparent;
    &:hover {
      border-color: #b82730;
    }

  }
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 0;
  &:hover, &:focus {
    outline: none;
    .icon {
      fill: $primary-red;
    }
  }
}

.slick-dots {
  padding: 18px 0 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 0;
  margin-bottom: 13px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.slick-dots li.slick-active button::before {
  background-color: #ce282f;
}

.slick-dots button {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background-color: transparent;
}

.slick-dots button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.show-all {
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.8px;
  color: $primary-red;
  text-transform: uppercase;
  span {
    padding-left: 5px;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-family: Arial sans-serif;
  }
}

.slide-arrow {
  display: none;
  align-items: center;
  padding: 0 16px;
  width: 55px;
  height: 40px;
  background-color: $secondary-red;
  transition: $transition-base;
  z-index: 2;
  &:hover {
    transform: translateX(0);
  }
  &:focus {
    outline: none;
  }
  @include media-breakpoint-only(xl) {
    display: flex;
  }
  &.slick-disabled {
    display: none;
  }
  &--prev {
    justify-content: flex-end;
    left: 0;
    border-radius: 0 25px 25px 0;
    transform: translateX(-15px);
  }
  &--next {
    right: 0;
    border-radius: 25px 0 0 25px;
    transform: translateX(15px);
  }
}

.form {
  &__label {
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
    color: rgba(#363636, .6);
    letter-spacing: 0.28px;
  }
  &__field {
    display: block;
    margin-bottom: 10px;
    padding: 8px 0;
    width: 100%;
    border: none;
    border-bottom: 3px solid #353535;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.28px;
    transition: $transition-base;
    background-color: transparent;
    @include placeholder {
      opacity: 0.6;
      font-family: 'Open Sans', Intro, sans-serif;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: rgba(54, 54, 54, 0.6);
    }
    &:focus {
      outline: none;
      border-color: #d52833;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 17px;
    }
  }

  &__select {
    width: 100%;
    padding: 7px 24px;
    border: solid 1px #d7d7d7;
    border-radius: 20px;
    font-family: 'Open Sans', Intro, sans-serif;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #191919;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(%=static=%minified-svg/arrow-bottom-red.svg) bottom 50% right 24px no-repeat;
    background-size: 12px 8px;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .SumoSelect {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      margin-bottom: 18px;
    }
  }
  .SelectClass {
    cursor: pointer;
  }
  .SumoSelect > .CaptionCont {
    border: none;
    border-bottom: 3px solid #000;
    cursor: pointer;
  }

  .SelectBox {
    padding: 7px 17px 7px 0;
  }

  .SumoSelect > .CaptionCont > span {
    color: #363636;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px;
    pointer-events: none;
  }

  .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
    box-shadow: none;
    border-color: #000;
  }

  .SumoSelect > .CaptionCont > label > i {
    background-image: url(%=static=%minified-svg/arrow-bottom-red.svg);
    background-size: 12px 8px;
    width: 10px;
    height: 6px;
    opacity: 1;
    right: 0;
    left: initial;
    top: 5px;
    pointer-events: none;
  }

  .SumoSelect > .CaptionCont > label {
    width: 44px;
    pointer-events: none;
  }

  .SumoSelect > .optWrapper > .options {
    max-height: 300px;
    padding-top: 6px;
    padding-bottom: 8px;
  }

  .SumoSelect > .optWrapper {
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .SumoSelect.open > .optWrapper {
    top: 100%;
  }

  .SumoSelect:focus > .CaptionCont, .SumoSelect.open > .CaptionCont {
    box-shadow: none;
    border-color: #000;
  }

  .SumoSelect > .optWrapper > .options > li.opt:first-child {
    border-radius: 0;
  }

  .SumoSelect > .optWrapper > .options li.opt {
    border-bottom: none;
    padding: 0 15px;
  }

  .SumoSelect > .optWrapper > .options li label {
    color: #363636;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.28px;
  }

  .opt.selected label {
    color: #d32a33 !important;
    font-weight: 700;
    letter-spacing: 0.28px;
  }

  .SumoSelect > .optWrapper > .options li.opt:hover {
    background-color: transparent;
  }

  .SumoSelect > .optWrapper > .options li.opt:hover label {
    color: #d32a33;

  }
  .SumoSelect > .optWrapper > .options li.opt.disabled {
    display: none;
  }
  .SumoSelect > .CaptionCont > span.placeholder {
    font-style: normal;
    font-family: 'Open Sans', Intro, sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    opacity: .6;
    color: rgba(54, 54, 54, 0.6);
  }
  &__select-custom {
    .SumoSelect > .CaptionCont {
      border-radius: 20.5px;
      background-color: #ffffff;
      border: solid 1px #dddddd;
      padding-left: 24px;
      @include media-breakpoint-up(xl) {
        padding-left: 26px;
      }
      > span {
        font-family: 'Open Sans', Intro, sans-serif;
        font-size: 15px;
        letter-spacing: 0.3px;
        color: #191919;
      }
      > label {
        margin-bottom: 0;
        width: 48px;
        > i {
          background-image: url(%=static=%minified-svg/arrow-bottom-red.svg);
          background-size: 10px 6px;
          opacity: 1;
        }
      }
    }
    .SumoSelect {
      width: 100%;
    }
    .SelectBox {
      padding: 8px;
    }
    .SumoSelect > .optWrapper {
      border: solid 1px #dddddd;
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
      border-radius: 0 0 20.5px 20.5px;
      border-top: none;
    }
    .SumoSelect > .optWrapper > .options {
      position: relative;
      max-height: 240px;

    }
    .SumoSelect:hover > .CaptionCont,
    .SumoSelect:focus > .CaptionCont {
      box-shadow: none;
      border-color: #dddddd;
    }
    .SumoSelect.open > .CaptionCont {
      box-shadow: none;
      border-color: #dddddd;
      border-radius: 20.5px 20.5px 0 0;
    }
    .SumoSelect.open > .CaptionCont {
      box-shadow: none;
      border-color: #dddddd;
      border-radius: 20.5px 20.5px 0 0;
    }
    .SumoSelect > .optWrapper > .options li.opt {
      margin-bottom: 16px;
      padding: 0 24px;
      font-family: 'Open Sans', Intro, sans-serif;
      border-bottom: none;
      line-height: 1;
      font-size: 15px;
      letter-spacing: 0.3px;
      color: #191919;
      @include media-breakpoint-up(xl) {
        padding: 0 26px;
      }
      &.selected {
        color: $primary-red;
      }
    }
    .SumoSelect > .optWrapper > .options li.opt:hover {
      background-color: transparent;
    }
    .SumoSelect > .optWrapper > .options > li.opt:first-child {
      border-radius: 0;
    }
    .SumoSelect > .optWrapper > .options > li.opt:last-child label,
    .SumoSelect > .optWrapper > .options > li.opt:last-child {
      border-radius: 0;
      margin-bottom: 0;
    }
    .SumoSelect.open > .optWrapper {
      padding-top: 6px;
      padding-bottom: 16px;
    }
    .SumoSelect > .optWrapper > .options li.opt label,
    .SumoSelect > .optWrapper > .options li.opt:last-child {
      margin-bottom: 0;
    }
    .simplebar-scrollbar {
      width: 5px;
      right: 0;
    }
    .simplebar-track {
      right: 13px;
    }
    .simplebar-track.horizontal {
      display: none;
    }
    .simplebar-scrollbar:before {
      border-radius: 2.5px;
      background-color: #a2a2a2
    }
    .simplebar-track {
      width: 5px;
      border-radius: 2.5px;
      background-color: #dddddd;

    }
    .simplebar-track.vertical .simplebar-scrollbar:before {
      top: 0;
      bottom: 0;
    }
    .simplebar-content {
      padding-bottom: 0;
    }

  }
}

.grey {
  display: block;
  font-family: 'Open Sans', Intro, sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #a1a1a1;
  @include media-breakpoint-up(xl) {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
  }
}

.list {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 22px;
    font-family: 'Open Sans', Intro, sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: $secondary-red;
    }
  }
}

.text-red {
  color: $primary-red
}
