// File for scss-vars.
// For example: main colors, paddings and so on.
$primary-red: #d52833;
$secondary-red: #d32a33;
$text-color: #252525;
$grey-primary: #eaecee;
$grey-secondary: #f0f2f3;
$dark-blue: #122037;
$black: #383838;
