mixin page-forKids(data)
  include ../trial-lesson/trial-lesson
  include ../kids-program-order/kids-program-order
  include ../forms-education/forms-education
  .page-forKids.page-eng.section.section--grey
    .container
      h2.page-eng__title.h2 Стоимость и варианты обучения
      p.page-forKids__subtitle.subtitle Авторская методика, разработанная нашими преподавателями на основе самых эффективных наработок лучших языковых школ мира, основана на комплексном подходе при обучении английскому языку детей дошкольного возраста. Именно поэтому она показывает высокую результативность и при занятии с совсем малышами, и при прохождении курсов ребятами, которые готовятся сесть за школьные парты.
      .page-eng__list-card
        .row
          each itemList in data.listCard
            .col-xl-6.d-flex.align-content-stretch
              .lang-card.page-eng__card
                h3.page-eng__title-card.lang-card__name
                  a(href="#") !{itemList.title}
                span.page-eng__subtitle.grey !{itemList.info}
                p.page-eng__desc.lang-card__desc !{itemList.desc}
                a(href="#").lang-card__more.page-eng__more.btn.btn--border-red подробнее
      +kids-program-order()
      p.subtitle.mb-3.mb-xl-4 Авторская методика, разработанная нашими преподавателями на основе самых эффективных наработок лучших языковых школ мира, основана на комплексном подходе при обучении английскому языку детей дошкольного возраста. Именно поэтому она показывает высокую результативность и при занятии с совсем малышами, и при прохождении курсов ребятами, которые готовятся сесть за школьные парты.
      .row
        .col-xl-6
          ul.list
            li Курсы английского языка для детей — это возможность для ребят научиться быстро и спокойно воспринимать новую информацию, анализировать и систематизировать ее. Программа построена так, что во время обучения дети регулярно возвращаются к пройденному материалу, многократное повторение которого и обеспечивает лучшее запоминание и понимание.
            li Ошибки — лучшее свидетельство живого интереса ребенка к материалу! Наши преподаватели знают, что зачастую становится стрессом не столько изучение английского языка для детей, сколько страх сделать что-то не так и вызвать разочарование. Но ведь дети для того и приходят в школу YES, чтобы научиться новому, а этот процесс предполагает постоянные пробы, которые немыслимы без ошибок! Поэтому наши педагоги только поощряют эксперименты юных учеников, но при этом всегда готовы прийти на помощь, вовремя заметить возникающие трудности и направить ребенка по нужному пути.
        .col-xl-6
          ul.list
            li Дети любят играть, так зачем утомлять их скучными уроками? В школе YES английский язык для детей преподается в занимательной игровой форме, которая давно признана наиболее эффективной для обучения малышей и ребят дошкольного возраста. Интересные и порой достаточно сложные, но доступные задания, для решения которых требуется не только знание языка, но и логические или творческие навыки, захватывают детей и дают им возможность проявить свои способности и умения не только в лингвистике. А разучивание песен и стихов, просмотр мультфильмов и общение со сверстниками (конечно, на английском) позволяет легко и незаметно для ребенка получить и закрепить полученные знания.
          p Приходите к нам и приводите своего ребенка на пробное занятие в школе YES, и Вы убедитесь сами — выучить иностранный язык можно по-настоящему интересно и весело!
      +trial-lesson()
      +forms-education(getAfterKids, true)
