mixin article(data)
  section.article
    .container
      h1.h2 Числительные
    .article-menu.section--grey
      .container
        .article-menu__mobile.d-md-none
          label(for="lang").hidden язык
          select.form__select#lang.js-sub-menu-article.mb-4
            option(value="page-url") Английский
            option(value="page-url") Немецкий
            option(value="page-url") Французкий
            option(value="page-url") Итальянский
            option(value="page-url") Испанский
            option(value="page-url") Китайский
            option(value="page-url") Японский
          label(for="section-menu").hidden Раздел
          select.form__select#section-menu.js-sub-menu-article
            option(value="page-url") Фонетика
            option(value="page-url") Грамматика
            option(value="page-url") Видеоуроки
            option(value="page-url") Пословицы и поговорки
            option(value="page-url") Афоризмы
            option(value="page-url") Анекдоты
            option(value="page-url") Видео
            option(value="page-url") Книги
            option(value="page-url") С чего начать изучение языка
            option(value="page-url") Изучение языка
            option(value="page-url") Уроки онлайн
      .article-menu__row.d-none.d-md-block
        .container
          .row
            .col-auto
              span язык
            .col
              ul.article-menu__list
                li.active
                  a(href="#") Английский
                li
                  a(href="#") Немецкий
                li
                  a(href="#") французкий
                li
                  a(href="#") итальянский
                li
                  a(href="#") испанский
                li
                  a(href="#") китайский
                li
                  a(href="#") японский
      .article-menu__row.d-none.d-md-block
        .container
          .row
            .col-auto
              span Раздел
            .col
              ul.article-menu__list
                li
                  a(href="#") Алфавит
                li
                  a(href="#") Фонетика
                li.active
                  a(href="#") Грамматика
                li
                  a(href="#") Видеоуроки
                li
                  a(href="#") Пословицы и поговорки
                li
                  a(href="#") Афоризмы
                li
                  a(href="#") Анекдоты
                li
                  a(href="#") Видео
                li
                  a(href="#") Книги
                li
                  a(href="#") С чего начать
                li
                  a(href="#") изучение языка
                li
                  a(href="#") Уроки онлайн
    .article__intro
      .container
        .article__intro-inner
          p Если вы одолели английский алфавит, то и с цифрами справитесь легко. Хотя бы потому, что выглядят они точь-в-точь, как русские, потому что арабские! Осталось только разобраться с их названием и некоторыми особенностями. А мы вам в этом поможем! Итак, лучше всего учить цифры поэтапно, чтобы не запутаться. Начнём с количественных числительных (Cardinal Numbers).
    .container
      .article__content
        p
          b 1.&#160;
          | Называются они так, потому что обозначают количество чего-либо: один гиппопотам, два гиппопотама, три гиппопотама и так далее. Давайте глянем, как пишутся цифры до 10.
        p Но я бы рекомендовал заучивать этот блок ещё с парой чисел —
          i &#160;eleven&#160;
          | (11) и
          i &#160;twelve&#160;
          | (12). Дело в том, что в Англии традиционно &quot;дюжинная&quot; система цифр. Даже яйца не десятками, а &quot;двенадцатками&quot; считают. Как выучить эти двенадцать слов? Повторить раз десять, как стишок – и само запомнится. Но если перед вами до сих пор стоит этот вопрос, то вот вам старая добрая &quot;
          a(href="#") Улица Сезам
          | &quot;.
        hr
        p
          b 2.&#160;
          | Второй этап именуется "тинейджерским". Ведь именно так назыв‘Have taken part’ — колонии и доминионы приняли участие в Present Perfect и в выставке одновременно.
          | И снова причастный оборот, речь-то официальная!
          | ‘The  largest’ — крупнейшая. Превосходная степень односложного прилагательного ‘large’, окаймлённая определённым артиклем ‘the’ и суффиксом ‘est’.
          | ‘Staged’ — поставленная. Выставку представляют по всему миру, используя страдательную форму причастия.
          | В английском это делается при помощи третьей формы глаголы.ают подростков 13-19 лет. А всё потому, что в конце каждой цифры стоит суффикс
          i &#160;- teen&#160;
          | . Сами посмотрите:
        img(src="%=static=%img/content/cardinal_numbers.png" alt="cardinal numbers")
        p Самые внимательные не могли не обратить внимание на небольшие изменения в написании и произношении двух цифр. Предлагаю их записать отдельно.

        ul
          li 13 –
            i &#160;thirteen&#160;
            | (не threeteen!)
          li 15 –
            i &#160;fifteen&#160;
            | (не fiveteen!)

        p Кстати, ударение будет на обоих слогах. Даже лучше – на последнем: [fɪfˈtiːn].
        p Не будем долго останавливаться на втором этапе, а сразу перейдём к третьему. Заметили, что чем дальше мы двигаемся, тем бОльшие промежутки охватываем?
        hr
        p
          b 3.&#160;
          | Третий этап предполагает изучение цифр аж до ста. Смешно сказать – "изучение"! Необходимо просто запомнить две буквы -ty. И теперь можно смело добавлять их ко всем цифрам до 10, чтобы получить десятки.
        img(src="%=static=%img/content/numerals.png" alt="numerals")
        p *Примечание. Посмотрите пристально на цифру 40. В написании она теряет букву 'u' – forty.
        ul
          li 21 –
            i &#160;twenty-one
          li 32 –
            i &#160;thirty-two
          li 43 –
            i &#160;forty-three
        p Ударение же на этот раз будет стоять на первом слоге: [ˈfɪfti].
        hr
        p
          b 4.&#160;
          | Четвёртый, и он же последний этап. Вбирает в себя оставшиеся крупные цифры – сотни, тысячи, миллионы, миллиарды... Запомните их названия – и считайте, что английские числа повержены.

        ul
          li 100 –
            i &#160;hundred
          li 1 000 –
            i &#160;thousand
          li 1 000 000 –
            i &#160;million
          li 1 000 000 000 –
            i &#160;billion
        p Для того, чтобы назвать цифру, скажем, 200, говорим и пишем
          b &#160;'two hundred'&#160;
          | . И -s к сотням, тысячам и т. д. не ставим! А вот союз 'and' ставим обязательно, если цифры снова не круглые и вы в Англии.
        ul
          li 235 – two hundred
            b &#160;AND&#160;
            | thirty-five
          li 999 – nine hundred
            b &#160;AND&#160;
            | ninety-nine
        p Если вы в США, про 'and' разрешается забыть. Там к этому отнесутся спокойно. Но давайте потренируемся на чём-нибудь посложнее.
        ul
          li 3 837 –
            i &#160;three thousand, eight hundred and thirty-seven
          li 1 986 –
            i &#160;one (a) thousand, nine hundred and eighty-six
        hr
        h2 Порядковые числительные (Ordinal Numbers)
        p Это те цифры, которые идут по порядку. Это как на физкультуре: на первый, второй, третий – рассчитайсь! Порядковые числительные отвечают на вопрос "какой?". И если вы думаете, что сейчас начнётся тихий ужас, как в русском языке с его падежами, то можете облегчённо выдохнуть. Почти все цифры подобного рода образуются одинаково – при помощи определённого артикля
          i &#160;'the'&#160;
          | и суффикса
          i &#160;-th&#160;
          | . Таблицу в студию!
        img(src="%=static=%img/content/ordinal_numbers.png" alt="ordinal_numbers")
        p *Примечание. В англоязычных таблицах часто опускают 'the'.
        p Исключение составляют первые три цифры. Впрочем, как и в русском:
        ul
          li Один – первый
          li Два – второй
          li Три – третий
        p В английском это выглядит так:
        ul
          li One – the
            i &#160;first
          li Two – the
            i &#160;second
          li Three – the
            i &#160;third
        p Ну-ка, тест на внимательность: какие ещё изменения в словах вы видите на картинке сверху?
          br
          | Глянули? А теперь можете свериться:
        ul
          li Five –
            i &#160;fifth
          li Nine –
            i ninth
          li Twelve –
            i &#160;twelfth
          li Twenty –
            i &#160;twentieth
        p Ну, а в конце немного отойдём в сторону от теории и приблизимся вплотную к практике.
        hr
        h2 Телефонный номер (Telephone Number)
        p Вот, например, как бы вы продиктовали англоязычному собеседнику свой номер телефона: 8-899-023-45-67? Не зная принятых правил, так бы, наверное, и продиктовали: восемь, восемьсот девяносто девять, ноль двадцать три... В английском всё куда проще. Следует называть сами цифры по очереди. Если встречаются двойные, то нужно сказать слово 'double' ("двойная") и цифру, которая удваивается. А если в номере есть ноль, то его можно назвать 'zero', хотя предпочтительнее произнести буквой 'o'. Давайте на нашем примере покажу наглядно:
        ul
          li
            i &#160;8-899-023-45-67
          li
            i &#160;Double eight double nine zero two three four five six seven
        hr
        h2 Годы (Years)
        p Года англоязычные граждане произносят десятками, что тоже куда проще, чем у нас:
        ul
          li 1990 –
            i &#160;nineteen ninety
          li 1999 –
            i &#160;nineteen ninety-nine
        p С двухтысячными, правда, пока не так.
        ul
          li 2000 –
            i &#160;two thousand
          li 2017 –
            i &#160;two thousand (and) seventee
        p
          i &#160;Pages, buses, rooms etc.
        p Страницы, номера автобусов, комнат и т. д. мы называем порядковыми числительными: восьмая страница, первый автобус, пятая комната. И тут английский нам жизнь сильно упрощает, предпочитая количественные числительные:
        ul
          li
            i &#160;Page eight
          li
            i &#160;Bus one
          li
            i &#160;Room five
        p Что ж, надеюсь, основные правила, связанные с цифрами, вас не напугали. В русском языке эта тема считается одной из самых сложных. А в английском, как видите, всё очень просто.
      .pagination
        .pagination__inner
          .row.justify-content-md-between.align-items-md-center
            .col-md-auto.order-md-2
              ul.pagination__list
                li.pagination__page.active
                  a(href="#").pagination__link 1
                li.pagination__page
                  a(href="#").pagination__link 2
                li.pagination__page
                  a(href="#").pagination__link 3
                li.pagination__page
                  a(href="#").pagination__link 4
                li.pagination__page
                  a(href="#").pagination__link 5
                li.pagination__page
                  a(href="#").pagination__link 6
                li.pagination__page
                  a(href="#").pagination__link 7

            .col-auto.mr-auto.mr-md-0.order-md-1
              a(href="#").pagination__arrow.show-all.disable
                span &larr;&nbsp;
                | Предыдущая
                .d-none.d-xl-inline &#160;страница
            .col-auto.ml-auto.ml-md-0.order-md-3
              a(href="#").pagination__arrow.show-all
                | следующая&#160;
                .d-none.d-xl-inline страница&#160;
                span &nbsp;&rarr;
    .article__like.section--grey
      .container
        .article__inner
          .row.align-items-md-center
            .col-md
              p.article__like-text.h3
                span Вам понравилась статья?&#160;
                | Поделитесь ею с друзьями
            .col-md-auto
              img(src="%=static=%img/general/socials.png")




