mixin article()
  .article
    .article__intro
      .container
        .article__subtitle
          p Если вы&#160;одолели английский алфавит, то&#160;и&#160;с&#160;цифрами справитесь легко. Хотя&#160;бы потому, что выглядят они точь-в-точь, как русские, потому что арабские! Осталось только разобраться с&#160;их&#160;названием и&#160;некоторыми особенностями. А&#160;мы&#160;вам в&#160;этом поможем! Итак, лучше всего учить цифры поэтапно, чтобы не&#160;запутаться. Начнём с&#160;количественных числительных (Cardinal Numbers).
    .container
      .article__content
        p
          b 1.&#160;
          | Называются они так, потому что обозначают количество чего-либо: один гиппопотам, два гиппопотама, три гиппопотама и&#160;так далее. Давайте глянем, как пишутся цифры до&#160;10.
        p Но&#160;я&#160;бы рекомендовал заучивать этот блок ещё с&#160;парой чисел &#8212;
          i &#160;eleven&#160;
          | (11) и
          i &#160;twelve&#160;
          | (12). Дело в&#160;том, что в&#160;Англии традиционно &#171;дюжинная&#187; система цифр. Даже яйца не&#160;десятками, а&#160;&#171;двенадцатками&#187; считают. Как выучить эти двенадцать слов? Повторить раз десять, как стишок&#160;&#8212; и&#160;само запомнится. Но&#160;если перед вами до&#160;сих пор стоит этот вопрос, то&#160;вот вам старая добрая &#34;
          a(href="#") Улица Сезам
          | &quot;.
        hr
        p
          b 2.&#160;
          | Второй этап именуется &#171;тинейджерским&#187;. Ведь именно так назыв&#145;Have taken part&#146; &#8212; колонии и&#160;доминионы приняли участие в&#160;Present Perfect и&#160;в&#160;выставке одновременно.
          | И&#160;снова причастный оборот, речь-то официальная!
          | &#145;The largest&#146; &#8212; крупнейшая. Превосходная степень односложного прилагательного &#145;large&#146;, окаймлённая определённым артиклем &#145;the&#146; и&#160;суффиксом &#145;est&#146;.
          | &#145;Staged&#146; &#8212; поставленная. Выставку представляют по&#160;всему миру, используя страдательную форму причастия.
          | В&#160;английском это делается при помощи третьей формы глаголы.ают подростков 13-19&#160;лет. А&#160;всё потому, что в&#160;конце каждой цифры стоит суффикс
          i &#160;- teen&#160;
          | . Сами посмотрите:
        img(src="%=static=%img/content/cardinal_numbers.png" alt="cardinal numbers")
        p Самые внимательные не&#160;могли не&#160;обратить внимание на&#160;небольшие изменения в&#160;написании и&#160;произношении двух цифр. Предлагаю их&#160;записать отдельно.

        ul
          li 13 –
            i &#160;thirteen&#160;
            | (не&#160;threeteen!)
          li 15 –
            i &#160;fifteen&#160;
            | (не&#160;fiveteen!)

        p Кстати, ударение будет на&#160;обоих слогах. Даже лучше&#160;&#8212; на&#160;последнем: [fɪfˈtiːn].
        p Не&#160;будем долго останавливаться на&#160;втором этапе, а&#160;сразу перейдём к&#160;третьему. Заметили, что чем дальше мы&#160;двигаемся, тем бОльшие промежутки охватываем?
        hr
        p
          b 3.&#160;
          | Третий этап предполагает изучение цифр аж&#160;до&#160;ста. Смешно сказать&#160;&#8212; &#171;изучение&#187;! Необходимо просто запомнить две буквы -ty. И&#160;теперь можно смело добавлять их&#160;ко&#160;всем цифрам до&#160;10, чтобы получить десятки.
        img(src="%=static=%img/content/numerals.png" alt="numerals")
        p *Примечание. Посмотрите пристально на&#160;цифру 40. В&#160;написании она теряет букву &#146;u&#146; &#8212; forty.
        ul
          li 21 –
            i &#160;twenty-one
          li 32 –
            i &#160;thirty-two
          li 43 –
            i &#160;forty-three
        p Ударение&#160;же на&#160;этот раз будет стоять на&#160;первом слоге: [ˈfɪfti].
        hr
        p
          b 4.&#160;
          | Четвёртый, и&#160;он&#160;же последний этап. Вбирает в&#160;себя оставшиеся крупные цифры&#160;&#8212; сотни, тысячи, миллионы, миллиарды... Запомните их&#160;названия&#160;&#8212; и&#160;считайте, что английские числа повержены.

        ul
          li 100 –
            i &#160;hundred
          li 1 000 –
            i &#160;thousand
          li 1 000 000 –
            i &#160;million
          li 1 000 000 000 –
            i &#160;billion
        p Для того, чтобы назвать цифру, скажем, 200, говорим и&#160;пишем
          b &#160;'two hundred'&#160;
          | . И -s к&#160;сотням, тысячам и&#160;т.&#160;д.&#160;не&#160;ставим! А&#160;вот союз &#146;and&#146; ставим обязательно, если цифры снова не&#160;круглые и&#160;вы&#160;в&#160;Англии.
        ul
          li 235&#160;&#8212; two hundred
            b &#160;AND&#160;
            | thirty-five
          li 999 – nine hundred
            b &#160;AND&#160;
            | ninety-nine
        p Если вы&#160;в&#160;США, про &#146;and&#146; разрешается забыть. Там к&#160;этому отнесутся спокойно. Но&#160;давайте потренируемся на&#160;чём-нибудь посложнее.
        ul
          li 3 837 –
            i &#160;three thousand, eight hundred and thirty-seven
          li 1 986 –
            i &#160;one (a) thousand, nine hundred and eighty-six
        hr
        h2 Порядковые числительные (Ordinal Numbers)
        p Это те&#160;цифры, которые идут по&#160;порядку. Это как на&#160;физкультуре: на&#160;первый, второй, третий&#160;&#8212; рассчитайсь! Порядковые числительные отвечают на&#160;вопрос &#171;какой?&#187;. И&#160;если вы&#160;думаете, что сейчас начнётся тихий ужас, как в&#160;русском языке с&#160;его падежами, то&#160;можете облегчённо выдохнуть. Почти все цифры подобного рода образуются одинаково&#160;&#8212; при помощи определённого артикля
          i &#160;'the'&#160;
          | и&#160;суффикса
          i &#160;-th&#160;
          | . Таблицу в&#160;студию!
        img(src="%=static=%img/content/ordinal_numbers.png" alt="ordinal_numbers")
        p *Примечание. В&#160;англоязычных таблицах часто опускают &#146;the&#146;.
        p Исключение составляют первые три цифры. Впрочем, как и&#160;в&#160;русском:
        ul
          li Один&#160;&#8212; первый
          li Два&#160;&#8212; второй
          li Три&#160;&#8212; третий
        p В&#160;английском это выглядит так:
        ul
          li One&#160;&#8212; the
            i &#160;first
          li Two&#160;&#8212; the
            i &#160;second
          li Three&#160;&#8212; the
            i &#160;third
        p Ну-ка, тест на&#160;внимательность: какие ещё изменения в&#160;словах вы&#160;видите на&#160;картинке сверху?
          br
          | Глянули? А&#160;теперь можете свериться:
        ul
          li Five &#8212;
            i &#160;fifth
          li Nine &#8212;
            i ninth
          li Twelve &#8212;
            i &#160;twelfth
          li Twenty &#8212;
            i &#160;twentieth
        p Ну, а&#160;в&#160;конце немного отойдём в&#160;сторону от&#160;теории и&#160;приблизимся вплотную к&#160;практике.
        hr
        h2 Телефонный номер (Telephone Number)
        p Вот, например, как&#160;бы вы&#160;продиктовали англоязычному собеседнику свой номер телефона: 8-899-023-45-67? Не&#160;зная принятых правил, так&#160;бы, наверное, и&#160;продиктовали: восемь, восемьсот девяносто девять, ноль двадцать три... В&#160;английском всё куда проще. Следует называть сами цифры по&#160;очереди. Если встречаются двойные, то&#160;нужно сказать слово &#146;double&#146; (&#171;двойная&#187;) и&#160;цифру, которая удваивается. А&#160;если в&#160;номере есть ноль, то&#160;его можно назвать &#146;zero&#146;, хотя предпочтительнее произнести буквой &#146;o&#146;. Давайте на&#160;нашем примере покажу наглядно:
        ul
          li
            i &#160;8-899-023-45-67
          li
            i &#160;Double eight double nine zero two three four five six seven
        hr
        h2 Годы (Years)
        p Года англоязычные граждане произносят десятками, что тоже куда проще, чем у&#160;нас:
        ul
          li 1990 &#8212;
            i &#160;nineteen ninety
          li 1999 –
            i &#160;nineteen ninety-nine
        p С&#160;двухтысячными, правда, пока не&#160;так.
        ul
          li 2000 &#8212;
            i &#160;two thousand
          li 2017 &#8212;
            i &#160;two thousand (and) seventee
        p
          i &#160;Pages, buses, rooms etc.
        p Страницы, номера автобусов, комнат и&#160;т.&#160;д.&#160;мы&#160;называем порядковыми числительными: восьмая страница, первый автобус, пятая комната. И&#160;тут английский нам жизнь сильно упрощает, предпочитая количественные числительные:
        ul
          li
            i &#160;Page eight
          li
            i &#160;Bus one
          li
            i &#160;Room five
        p Что&#160;ж, надеюсь, основные правила, связанные с&#160;цифрами, вас не&#160;напугали. В&#160;русском языке эта тема считается одной из&#160;самых сложных. А&#160;в&#160;английском, как видите, всё очень просто.




