mixin lang-card(data)
  .lang-card&attributes(attributes)
    h3.lang-card__name
      a(href="#") !{data.title}
    p.lang-card__desc #{data.desc}
    a(href="#").lang-card__more.btn.btn--border-red подробнее
