mixin history(data)
  section.history.section
    .container
      h2.history__title.h2 Немного истории
      .history__inner
        .row.no-gutters
          .col-md-4
            .history__item.history__item--first
              span.history__year 2000
                span г.
              p.history__desc Была открыта первая школа обучения иностранным языкам YES в городе Жуковский.
          .col-md-4
            .history__item.history__item--second
              span.history__year 16 школ
              p.history__desc В Московской области и Москве, открыто на данный момент.
          .col-md-4
            .history__item.history__item--third
              span.history__year за 18  лет
              p.history__desc Мы обучили тысячи студентов самых разных возрастов, накопили огромный опыт.
