.video-data {
  padding-bottom: 21px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-bottom: 38px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 82px;
    padding-bottom: 76px;
  }
  &--has-subtitle {
    .video-data__title {
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 28px;
      }
    }
  }
  &--border-top {
    border-top: 1px solid #ebebeb;
    .video-data__title {
      margin-bottom: 18px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 28px;
      }
    }
  }
  &__title {
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
    }
  }
  &__slider {
    position: relative;
    .container {
      @include media-breakpoint-up(md) {
        padding-right: 0;
        margin-left: calc((100vw - 768px)/2);
        max-width: calc(768px + (100vw - 768px / 2));
      }
      @include media-breakpoint-up(lg) {
        margin-left: calc((100vw - 960px)/2);
        max-width: calc(960px + (100vw - 960px / 2));
      }
      @include media-breakpoint-up(xl) {
        margin-left: 0;
        max-width: 100%;
        padding-left: 96px;
      }
    }
  }
  &__list {
    margin-bottom: 0;
    padding: 0;
  }
  .slick-list {
    margin-right: -20px;
    margin-left: -20px;
    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
  .slick-slide {
    margin: 0 20px;
    font-size: 0;
    @include media-breakpoint-up(md) {
      width: calc(100vw - 40px - 110px - 34px - ((100vw - 768px)/2));
    }
    @include media-breakpoint-up(lg) {
      width: calc(100vw - 40px - 110px - ((100vw - 960px)/2));
    }
    @include media-breakpoint-up(xl) {
      margin-right: 25px;
      margin-left: 25px;
      width: 671px;
    }
  }
  &__footer {
    text-align: center;
    @include media-breakpoint-up(md) {
      padding-top: 20px;
    }
  }
  &__arrow {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
  .slick-dots {
    @include media-breakpoint-up(md) {
      margin-left: -5px;
      margin-bottom: 0;
    }
  }
}
