
.examps-nav {
  padding-top: 32px;
  padding-bottom: 24px;
  background-color: rgba($grey-primary, .7);
  @include media-breakpoint-up(md) {
    padding-top: 26px;
    padding-bottom: 25px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    padding: 0;
    list-style-type: none;
    @include media-breakpoint-up(md) {
      margin-bottom: -9px;
    }
  }
  &__item {
    margin: 0 16px;
    @include media-breakpoint-up(md) {
      margin-bottom: 9px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    &.active {
      .examps-nav__name {
        color: $primary-red;
        &::before {
          border-bottom-color: transparent;
        }
      }
    }
  }

  &__name {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: $text-color;
    position: relative;
    margin-right: 7px;
    vertical-align: top;
    transition: $transition-base;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 4px;
      border-bottom: dashed 1px #A9AAAB;
      transition: $transition-base;
    }
  }
}
