mixin forms-education(data)
  section.forms-education.section.section--grey&attributes(attributes)
    .container
      h2.forms-education__title.h2 #{data.title}
      .row.js-form-education-slider
        each item in data.list
          .col-xl-4
            article.forms-education__item
              h3.forms-education__subject #{item.subtitle}
              p.forms-education__text #{item.text}
