mixin forms-education(data)
  section.forms-education.section.section--grey
    .container
      h2.forms-education__title.h2 Формы обучения
      .row.js-form-education-slider
        .col-xl-4
          article.forms-education__item
            h3.forms-education__subject Групповые занятия
            p.forms-education__text Программа изучения в малой группе поможет Вам быстрее преодолеть языковой барьер, избавит от страха допустить ошибку, сформирует навык восприятия речи на слух.
        .col-xl-4
          article.forms-education__item
            h3.forms-education__subject Индивидуальные занятия
            p.forms-education__text Платное изучение языка в школе YES по индивидуальной программе  — это возможность заниматься в удобное вам время, корректировать набор рассматриваемых тем в соответствии с Вашими интересами, в любой момент урока вернуться к непонятному материалу, быстрее перейти от простого к повышенному уровню сложности заданий.

        .col-xl-4
          article.forms-education__item
            h3.forms-education__subject Корпоративное обучение
            p.forms-education__text Наши бизнес-программы изучения иностранного языка в России рассчитаны на людей с различным уровнем подготовки. Занятия на базе языкового центра YES позволят сотрудникам Вашей компании приобрести и усовершенствовать навыки делового общения с иностранцами.
