.forms-education {
  padding-bottom: 13px;
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
    padding-bottom: 78px;
  }
  &--no-slider {
    .forms-education__col {
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
   }
  }
  &--our-mission {
    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
    }
    @include media-breakpoint-up(xl)  {
      padding-top: 63px;
      padding-bottom: 55px;
    }
    .slick-dots {
      padding-top: 30px;
    }
    .forms-education__title {
      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 30px;
      }
    }
    .forms-education__subject {
      @include media-breakpoint-up(md) {
        margin-bottom: 18px;
      }
    }
    .forms-education__item {
      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 28px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(xl) {
      margin-right: -24px;
      margin-left: -24px;
    }
  }
  &__col {
    width: 100%;

   @include media-breakpoint-up(xl) {
     margin-right: 24px;
     margin-left: 24px;
     width: calc(100% / 3 - 48px);
   }
  }
  &__item {
    @include media-breakpoint-up(md) {
      margin-bottom: 34px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      //width: 362px;
    }
  }
  &__subject {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 21px;
      font-size: 24px;
      line-height: 26px
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 16px;
    }
  }
  &__text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    @include media-breakpoint-up(xl) {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.3px;
    }
  }
  .slick-dots {
    width: 100%;
  }
}
