mixin teacher(data)
  .teacher&attributes(attributes)
    .teacher__img
      img(src="%=static=%img/content/" + data.photo width="166" heigh="166" alt=data.name)
    cite.teacher__name #{data.name}
    span.teacher__grey-text Английский язык
      br
      | Кузьминки

