mixin section-text(data)
  section.section-text.section.pb-0
    .container
      .row
        .col-xl-10
          span.h2 А мы к вам в гости!
          p.subtitle Школу иностранных языков YES Подольска хорошо знают в городских детских садах, школах, вузах – там мы регулярно организуем выездные проекты и олимпиады.
          h2.h3 Школа иностранных языков YES в Подольске предлагает:
          ul.list
            li Подготовиться и сдать международные экзамены
            li Изучить иностранную лексику, соответствующую специфике профессиональной деятельности
            li Развить разговорные навыки иностранного языка
            li Посетить игровые программы, разговорные клубы
