.section-text {
  border-top: 1px solid #ebebeb;
  @include media-breakpoint-up(xl) {
    padding-top: 78px;
  }
  &__title {
    margin-bottom: 12px;
    display: block;
    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
      letter-spacing: 1.4px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  .h3 {
    @include media-breakpoint-up(xl) {
      margin-bottom: 12px;
    }
  }
  &__subtitle {
    margin-bottom: 18px;
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
      font-size: 15px;
      line-height: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
    }
  }
  .list {
    li {
      padding-left: 32px;
      &::before {
        @include media-breakpoint-up(xl) {
          top: 14px;
        }
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0.3px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__btn {
    @include media-breakpoint-up(md) {
      max-width: 216px;
      display: block;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 28px;
    }
  }
  &__red {
    margin-bottom: 20px;
    font-family: Intro;
    font-size: 16px;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      display: inline;
      font-size: 16px;
      line-height: 26px;
    }
    &:last-of-type {
      margin-bottom: 28px;
      @include media-breakpoint-up(md) {
        display: inline;
      }
      @include media-breakpoint-up(xl) {
        display: block;
      }
      +.btn {
        margin-top: 30px;
      }
    }
  }
  &--preparation {
    @include media-breakpoint-up(xl) {
      padding-top: 78px;
    }
    .subtitle {
      @include media-breakpoint-up(md) {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 22px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  &--education {
    .list {
      margin-bottom: 14px;
      li {
        padding-left: 24px;
        @include media-breakpoint-up(md) {
          margin-bottom: 14px;
        }
        @include media-breakpoint-up(xl) {
          line-height: 22px;
        }
      }
    }
    .btn {
      margin-top: 12px;
      @include media-breakpoint-up(md) {
        margin-top: 30px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 34px;
      }
    }
  }
}
