mixin page-teachers(data)
  include ../forms-education/forms-education
  include ../teachers-video/teachers-video
  include ../teachers-list/teachers-list
  .page-teachers
    section.page-teachers__intro
      .container
        h2.page-teachers__title.h2 Преподаватели
        p.page-teachers__subtitle.subtitle Наша школа оснащена всем необходимым для плодотворной работы: есть современное оборудование, уникальные методики. Но всё это обретает максимальную эффективность только в руках профессионального преподавателя. Быть преподавателем школы YES означает не только владеть методологией обучения, но также быть безгранично терпеливым и спокойным, доброжелательным и вежливым, обладать чувством юмора. От качественной работы преподавателя напрямую зависит успех его студентов!
    +forms-education(teachersFound).sectio--white.page-teachers__found
    +teachers-video()
    +teachers-list(teachersList)
