include ../icon/icon
mixin social(data)
  ul.social&attributes(attributes)
    each item in data
      li.social__item
        a(href="#" title=data.name).social__link
          +icon(item.iconName, item.iconWidth, item.iconheight)
