mixin teachers-video(data)
  section.teachers-video.section
    .container
      h2.teachers-video__title.h2 Наши учителя о себе и школе YES
    .teachers-video__inner
      button(type="button").teachers-video__arrow.slide-arrow.slide-arrow--prev.text-hide.js-teachers-video-prev-btn
        +icon('arrow-left', 12, 11)
        | Предадущий слайд
      button(type="button").teachers-video__arrow.slide-arrow.slide-arrow--next.text-hide.js-teachers-video-prev-btn
        +icon('arrow-right', 12, 11)
        | Следующий слайд
      .container
        div.teachers-video__slider.js-teachers-video
          div
            .teachers-video__slide
              div.wrapper.teachers-video__video.page-reviews__photo--no-border
                div(data-embed="5D0OyvlDV6U" data-title="название видео").embed-responsive.embed-responsive-16by9.youtube.embed-responsive-item
                  button(type="button").youtube__play-button Воспроизвести видео
              .teachers-video__name Александр Сергеев
              .teachers-video__grey Английский язык
              .teachers-video__grey Школа: Раменское
          div
            .teachers-video__slide
              div.wrapper.teachers-video__video.page-reviews__photo--no-border
                div(data-embed="fUYKHUH1VvI" data-title="Название видео").embed-responsive.embed-responsive-16by9.youtube.embed-responsive-item
                  button(type="button").youtube__play-button Воспроизвести видео
              .teachers-video__name Вера Литвинец
              .teachers-video__grey Английский язык
              .teachers-video__grey Школа: Войковская
          div
            .teachers-video__slide
              div.wrapper.teachers-video__video.page-reviews__photo--no-border
                div(data-embed="5D0OyvlDV6U" data-title="название видео").embed-responsive.embed-responsive-16by9.youtube.embed-responsive-item
                  button(type="button").youtube__play-button Воспроизвести видео.embed-responsive-item
              .teachers-video__name Александр Сергеев
              .teachers-video__grey Английский язык
              .teachers-video__grey Школа: Раменское
    .container
      .teachers-video__dots
