.quote-block {
  padding-top: 40px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 81px;
    padding-bottom: 82px;
  }
  &__photo {
    width: 104px;
    height: 104px;
    margin-right: 24px;
    border-radius: 50%;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      width: 192px;
      height: 192px;
      margin-right:0;
      margin-bottom: 7px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 4px;
    }
  }
  &__name {
    margin-top: 9px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.2px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      font-size: 24px;
    }
    cite {
      font-style: normal;
      line-height: 22px;
      @include media-breakpoint-up(md) {
        line-height: 1.08;
      }
    }
  }
  &__position {
    color: #898989;
    margin-bottom: 0;
  }
  &__text {
    position: relative;
    padding-top: 24px;
    font-family: 'Open Sans', Intro, sans-serif;
    letter-spacing: 0.1px;
    font-style: italic;
    line-height: 22px;
    text-indent: 25px;
    @include media-breakpoint-up(md) {
      padding-top: 5px;
      letter-spacing: 0;
      padding-left: 22px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
      padding-left: 0;
      font-size: 15px;
      line-height: 24px;
    }
    &::before {
      content: '“';
      position: absolute;
      left: -31px;
      top: 33px;
      font-family: Arial, Intro, sans-serif;
      font-size: 74.5px;
      line-height: 39px;
      color: #c4262e;
      @include media-breakpoint-up(md) {
        left: -13px;
        top: 13px;
      }
      @include media-breakpoint-up(xl) {
        left: -35px;
      }
    }
  }
}
