mixin page-jobs(data)
  section.page-jobs
    .container
      h2.page-jobs__title.h2 Работа в YES
      .page-jobs__top
        .row
          .col-xl-auto
            .page-jobs__video
              .embed-responsive.embed-responsive-16by9
                iframe(src="https://www.youtube.com/embed/fUYKHUH1VvI?rel=0&amp;controls=0&amp;showinfo=0" title="Работа в YES Center").embed-responsive-item
          .col-xl
            .page-jobs__desc
              p Работа в наших школах - это стабильность, перспектива, реализация планов, управляемые перемены, реализация потенциала и творческая составляющая деятельности. Наша Компания — это сообщество людей, стремящихся к развитию своих личностных возможностей и реализации способностей и талантов.
              p Сотрудники «YES» — это люди, ставящие перед собой серьезные жизненные цели, и определяющие пути их достижения. Люди, которые работают над совершенствованием своих личностных качеств посредством самопознания, и преобразования через деятельность.
      .page-jobs__arrordions.panel
        .panel__accoardeon#parent
          button(class="panel__button" type="button" data-toggle="collapse" data-target="#panel-collapse-1" aria-expanded="false" aria-controls="panel-collapse")
            span.panel__link
              | Русскоязычные
              | преподаватели
              | английского языка
            span.panel__subtitle от 60 000 рублей в месяц
          .collapse.panel__content#panel-collapse-1(data-parent="#parent-1")
            h3 Требования к кандидату:
            ul
              li Мужчина/женщина от 25 до 45 лет;
              li Высшее образование (педагогическое/лингвистическое) - обязательно;
              li Опыт работы с корпоративными клиентами, руководящим составом компании;
              li Опыт преподавания бизнес программ и спецкурсов;
              li Владение одним или несколькими иностранными языками (уровень Advanced);
              li Наличие сертификатов является преимуществом;
              li Хорошо поставленная грамотная речь, умение удерживать внимание аудитории, убеждать;
              li Умение быстро устанавливать контакт с незнакомыми людьми, вежливое, располагающее общение;
              li Способность адаптировать программу под цели конкретной группы;
              li Мобильность по г. Москве, готовность работать на территории Компаний-клиентов.
            h3 Обязанности:
            ul
              li Преподавание английского языка корпоративным клиентам (в группах и индивидуально) по программам General, Business, Conversational и Special Purposes English;
              li Подготовка планов занятий, проведение тестирований, оценка прогресса студентов;
              li Ежемесячная отчетность.
            h3 Описание вакансии:
            ul
              li Почасовая оплата (обсуждается индивидуально в зависимости от квалификации/опыта);
              li Заключение контракта с возможностью перевода на полную занятость;
              li Постоянное повышение квалификации на базе корпоративного учебно-методического центра;
              li Развивающая творческая рабочая атмосфера.
            button(type="button" data-toggle="modal" data-target="#modal-job").panel__respond.btn.btn--red Откликнуться на вакансию

          button(class="panel__button" type="button" data-toggle="collapse" data-target="#panel-collapse-2" aria-expanded="false" aria-controls="panel-collapse")
            span.panel__link Русскоязычные преподаватели немецкого языка
            span.panel__subtitle по итогам собеседования
          .collapse.panel__content#panel-collapse-2(data-parent="#parent")
            h3 Требования к кандидату:
            ul
              li Мужчина/женщина от 25 до 45 лет;
              li Высшее образование (педагогическое/лингвистическое) - обязательно;
              li Опыт работы с корпоративными клиентами, руководящим составом компании;
              li Опыт преподавания бизнес программ и спецкурсов;
              li Владение одним или несколькими иностранными языками (уровень Advanced);
              li Наличие сертификатов является преимуществом;
              li Хорошо поставленная грамотная речь, умение удерживать внимание аудитории, убеждать;
              li Умение быстро устанавливать контакт с незнакомыми людьми, вежливое, располагающее общение;
              li Способность адаптировать программу под цели конкретной группы;
              li Мобильность по г. Москве, готовность работать на территории Компаний-клиентов.
            h3 Обязанности:
            ul
              li Преподавание английского языка корпоративным клиентам (в группах и индивидуально) по программам General, Business, Conversational и Special Purposes English;
              li Подготовка планов занятий, проведение тестирований, оценка прогресса студентов;
              li Ежемесячная отчетность.
            h3 Описание вакансии:
            ul
              li Почасовая оплата (обсуждается индивидуально в зависимости от квалификации/опыта);
              li Заключение контракта с возможностью перевода на полную занятость;
              li Постоянное повышение квалификации на базе корпоративного учебно-методического центра;
              li Развивающая творческая рабочая атмосфера.
            button(type="button" data-toggle="modal" data-target="#modal-job").panel__respond.btn.btn--red Откликнуться на вакансию
          button(class="panel__button" type="button" data-toggle="collapse" data-target="#panel-collapse-3" aria-expanded="false" aria-controls="panel-collapse")
            span.panel__link Конкурс на вакансию «Менеджер по работе
              | с клиентами»
            span.panel__subtitle Проводиться в школах: Кузьминки, Солнцево, Ховрино, Балашиха, Жуковский, Королёв, Люберцы, Пушкино, Раменское, Подольск.
            span.panel__addit-text.first В связи с расширением Центр Иностранных Языков YES объявляет конкурс на вакансию «Менеджер по работе с клиентами».
            span.panel__addit-text
              | Мы ищем члена команды — активного, целеустремлённого
              | и желающего влиться в команду интересных и позитивных людей.

          .collapse.panel__content#panel-collapse-3(data-parent="#parent")
            h3 Требования к кандидату:
            ul
              li Мужчина/женщина от 25 до 45 лет;
              li Высшее образование (педагогическое/лингвистическое) - обязательно;
              li Опыт работы с корпоративными клиентами, руководящим составом компании;
              li Опыт преподавания бизнес программ и спецкурсов;
              li Владение одним или несколькими иностранными языками (уровень Advanced);
              li Наличие сертификатов является преимуществом;
              li Хорошо поставленная грамотная речь, умение удерживать внимание аудитории, убеждать;
              li Умение быстро устанавливать контакт с незнакомыми людьми, вежливое, располагающее общение;
              li Способность адаптировать программу под цели конкретной группы;
              li Мобильность по г. Москве, готовность работать на территории Компаний-клиентов.
            h3 Обязанности:
            ul
              li Преподавание английского языка корпоративным клиентам (в группах и индивидуально) по программам General, Business, Conversational и Special Purposes English;
              li Подготовка планов занятий, проведение тестирований, оценка прогресса студентов;
              li Ежемесячная отчетность.
            h3 Описание вакансии:
            ul
              li Почасовая оплата (обсуждается индивидуально в зависимости от квалификации/опыта);
              li Заключение контракта с возможностью перевода на полную занятость;
              li Постоянное повышение квалификации на базе корпоративного учебно-методического центра;
              li Развивающая творческая рабочая атмосфера.
            button(type="button" data-toggle="modal" data-target="#modal-job").panel__respond.btn.btn--red Откликнуться на вакансию
          button(class="panel__button" type="button" data-toggle="collapse" data-target="#panel-collapse-4" aria-expanded="false" aria-controls="panel-collapse")
            span.panel__link  Конкурс на вакансию «Преподаватель
              | иностранного языка»
            span.panel__subtitle Проводиться в школах: Кузьминки, Солнцево, Ховрино, Балашиха, Жуковский, Королёв, Люберцы, Пушкино, Раменское, Подольск.
            span.panel__addit-text.first
              | В связи с раширением Центр Иностранных Языков YES объявляет конкурс на вакансию «Преподаватель иностранного языка».
            span.panel__addit-text Мы приглашаем в нашу команду амбициозных профессионалов, любящих свое дело и работающих на результат!
          .collapse.panel__content#panel-collapse-4(data-parent="#parent")
            h3 Требования к кандидату:
            ul
              li Мужчина/женщина от 25 до 45 лет;
              li Высшее образование (педагогическое/лингвистическое) - обязательно;
              li Опыт работы с корпоративными клиентами, руководящим составом компании;
              li Опыт преподавания бизнес программ и спецкурсов;
              li Владение одним или несколькими иностранными языками (уровень Advanced);
              li Наличие сертификатов является преимуществом;
              li Хорошо поставленная грамотная речь, умение удерживать внимание аудитории, убеждать;
              li Умение быстро устанавливать контакт с незнакомыми людьми, вежливое, располагающее общение;
              li Способность адаптировать программу под цели конкретной группы;
              li Мобильность по г. Москве, готовность работать на территории Компаний-клиентов.
            h3 Обязанности:
            ul
              li Преподавание английского языка корпоративным клиентам (в группах и индивидуально) по программам General, Business, Conversational и Special Purposes English;
              li Подготовка планов занятий, проведение тестирований, оценка прогресса студентов;
              li Ежемесячная отчетность.
            h3 Описание вакансии:
            ul
              li Почасовая оплата (обсуждается индивидуально в зависимости от квалификации/опыта);
              li Заключение контракта с возможностью перевода на полную занятость;
              li Постоянное повышение квалификации на базе корпоративного учебно-методического центра;
              li Развивающая творческая рабочая атмосфера.
            button(type="button" data-toggle="modal" data-target="#modal-job").panel__respond.btn.btn--red Откликнуться на вакансию
