mixin info(data)
  section.info
    .container
      h2.info__title.h2 Правовая информация
    .info__inner.section--grey
      .container
        .row
          .col-md-6.col-xl-4.d-flex.align-content-stretch
            article.info__card
              .info__img
                img(src="%=static=%img/general/logo.svg" width="65" height="67" alt="Школа Английского языка «Ес»")
              h3.info__name Школа Английского языка «Ес»
              p.info__desc Частное образовательное учреждение дополнительного образования
              a(href="#").info__btn.btn.btn--border-red подробнее
          .col-md-6.col-xl-4.d-flex.align-content-stretch
            article.info__card
              .info__img
                img(src="%=static=%img/general/logo.svg" width="65" height="67" alt="«Глобус»")
              h3.info__name «Глобус»
              p.info__desc Частное образовательное учреждение дополнительного образования
              a(href="#").info__btn.btn.btn--border-red подробнее
          .col-md-6.col-xl-4.d-flex.align-content-stretch
            article.info__card
              .info__img
                img(src="%=static=%img/general/logo.svg" width="65" height="67" alt="Центр иностранных языков «Образование плюс»")
              h3.info__name Центр иностранных языков «Образование плюс»
              p.info__desc Негосударственное образовательное учреждение
              a(href="#").info__btn.btn.btn--border-red подробнее
