mixin page-corporate(data, notFoundLang, hasTextColumn)
  include ../icon/icon
  include ../lang-card/lang-card
  .page-corporate.page-corporate--fr.section.foreign-course&attributes(attributes)
    if notFoundLang === 'single'
      .container
        .page-corporate__header.courses__header
          .courses__select.d-md-none
            span.courses__flag.en.js-current-lang
            select.courses__select-lang.js-reviews-list
              option(value="en") Английский
              option(value="de") Немецкий
              option(value="fr") Французкий
              option(value="it") Итальянский
              option(value="es") Испанский
              option(value="zht") Китайский
              option(value="ja") Японский
            +icon('arrow-bottom', 12, 8)
          div.courses__langs.d-none.d-md-flex.nav
            a(href="#").courses__select
              span.courses__flag.en
              span.courses__name-lang Английский
            a(href="#").courses__select
              span.courses__flag.de
              span.courses__name-lang Немецкий
            a(href="#").courses__select
              span.courses__flag.fr
              span.courses__name-lang Французкий
            a(href="#").courses__select
              span.courses__flag.it
              span.courses__name-lang Итальянский
            a(href="#").courses__select
              span.courses__flag.es
              span.courses__name-lang Испанский
            a(href="#").courses__select
              span.courses__flag.zht
              span.courses__name-lang Китайский
            a(href="#").courses__select
              span.courses__flag.ja
              span.courses__name-lang Японский
        .foreign-course__list
          .page-corporate__not-found.lang-card.lang-card--bg
            .row.align-items-xl-center.flex-grow-1
              .col-xl
                .lang-card__name Не нашли нужный язык?
                p.lang-card__desc Просто укажите желаемый язык и мы вам поможем.
              .col-xl-auto.mt-auto.mt-md-0
                a(href="#").page-corporate__btn.lang-card__more.btn.btn--red Отправить заявку
        if hasTextColumn
          .page-corporate__text.page-corporate__text--not-found
            .row
              .col-xl
                p Знания, полученные по программе корпоративного обучения английскому и другим языкам, действительно помогут всей организации открыть новые горизонты в деловой среде. Дело в том, что такие программы составляются с учетом специфики и специализации как всей компании, так и отдельных сотрудников. Также учитывается, какой период времени отведен для занятий и какого уровня владения иностранным языком необходимо достичь. Проводится тестирование будущих студентов языковых курсов и формирование групп. К тому же, принимается во внимание желание руководства компании обучаться отдельно или вместе с рядовыми сотрудниками. Выбирается место корпоративного обучения – офис компании или учебные классы нашей школы иностранных языков в Москве. Эти и многие другие организационные вопросы обсуждаются перед началом учебы.
                p Дальше начинается самое интересное – непосредственное обучение. Ведущие методисты центра иностранных языков YES в Москве разработали уникальную методику преподавания, которая год за годом подтверждает свою эффективность. Кроме быстрого и качественного усвоения лингвистического материала, сотрудники компании укрепляют корпоративный дух, повышают личную мотивацию и профессионализм, поднимают значимость компании в деловых кругах.
              .col-xl
                p Для достижения максимального результата на протяжении всего периода обучения сотрудников иностранному языку действует строгая система контроля качества. Так, ведется учет посещаемости занятий, который отражается в табеле. А данные предоставляются заказчику либо по требованию, либо на регулярной основе, например, в конце каждого месяца корпоративного обучения. По желанию заказчика наши специалисты разрабатывают и проводят дополнительные виды тестирования. Это позволяет точнее определить качество преподавания и усвоения материала.
                p По завершении корпоративного обучения иностранным языкам каждый сотрудник компании получает не только сертификат, подтверждающий прохождение курса, но и личное портфолио. В нем указан уровень владения языком перед началом обучения и в конце; обозначены слабые и сильные акценты в освоении языка; даны рекомендации преподавателя для дальнейшего совершенствования полученных знаний.
    else
      .container
        .page-corporate__header.courses__header.d-xl-none
          .courses__select.d-md-none
            span.courses__flag.en.js-current-lang
            select.courses__select-lang.js-reviews-list
              option(value="en") Английский
              option(value="de") Немецкий
              option(value="fr") Французкий
              option(value="it") Итальянский
              option(value="es") Испанский
              option(value="zht") Китайский
              option(value="ja") Японский
            +icon('arrow-bottom', 12, 8)
          div.courses__langs.d-none.d-md-flex.nav
            a(href="#").courses__select
              span.courses__flag.en
              span.courses__name-lang Английский
            a(href="#").courses__select
              span.courses__flag.de
              span.courses__name-lang Немецкий
            a(href="#").courses__select
              span.courses__flag.fr
              span.courses__name-lang Французкий
            a(href="#").courses__select
              span.courses__flag.it
              span.courses__name-lang Итальянский
            a(href="#").courses__select
              span.courses__flag.es
              span.courses__name-lang Испанский
            a(href="#").courses__select
              span.courses__flag.zht
              span.courses__name-lang Китайский
            a(href="#").courses__select
              span.courses__flag.ja
              span.courses__name-lang Японский
        .foreign-course__list
          .row.d-none.d-xl-flex
            each item in data.list
              .col-md-6.col-xl-3.d-flex.align-content-stretch
                article.lang-card.foreign-course__item
                  .lang-card__top
                    .lang-card__flag
                      img(src="%=static=%img/general/" + item.countryImg width="40" height="26" alt=item.countryNameAlt)
                    h3.lang-card__lang-title
                      a(href="#") !{item.countryName}
                  a(href="#").lang-card__more.btn.btn--border-red Подробнее
            .col-xl-3.d-flex.align-content-stretch
              article.lang-card.lang-card--bg.lang-card--red.foreign-course__item.page-corporate__not-found.page-corporate__not-found--short
                h3.lang-card__name
                  | Не нашли
                  br
                  | нужный язык?
                p.lang-card__desc Скажите нам об этом и мы постараемся учеть ваши пожелания.
                a(href="#").lang-card__more.page-corporate__btn.btn.btn--border-white Отправить заявку
          .page-corporate__not-found.lang-card.lang-card--bg.d-xl-none
            h3.lang-card__name Не нашли нужный язык?
            p.lang-card__desc Просто укажите желаемый язык и мы вам поможем.
            a(href="#").page-corporate__btn.lang-card__more.btn.btn--red Отправить заявку
        .page-corporate__text
          .row
            .col-xl
              p Знания, полученные по программе корпоративного обучения английскому и другим языкам, действительно помогут всей организации открыть новые горизонты в деловой среде. Дело в том, что такие программы составляются с учетом специфики и специализации как всей компании, так и отдельных сотрудников. Также учитывается, какой период времени отведен для занятий и какого уровня владения иностранным языком необходимо достичь. Проводится тестирование будущих студентов языковых курсов и формирование групп. К тому же, принимается во внимание желание руководства компании обучаться отдельно или вместе с рядовыми сотрудниками. Выбирается место корпоративного обучения – офис компании или учебные классы нашей школы иностранных языков в Москве. Эти и многие другие организационные вопросы обсуждаются перед началом учебы.
              p Дальше начинается самое интересное – непосредственное обучение. Ведущие методисты центра иностранных языков YES в Москве разработали уникальную методику преподавания, которая год за годом подтверждает свою эффективность. Кроме быстрого и качественного усвоения лингвистического материала, сотрудники компании укрепляют корпоративный дух, повышают личную мотивацию и профессионализм, поднимают значимость компании в деловых кругах.
            .col-xl
              p Для достижения максимального результата на протяжении всего периода обучения сотрудников иностранному языку действует строгая система контроля качества. Так, ведется учет посещаемости занятий, который отражается в табеле. А данные предоставляются заказчику либо по требованию, либо на регулярной основе, например, в конце каждого месяца корпоративного обучения. По желанию заказчика наши специалисты разрабатывают и проводят дополнительные виды тестирования. Это позволяет точнее определить качество преподавания и усвоения материала.
              p По завершении корпоративного обучения иностранным языкам каждый сотрудник компании получает не только сертификат, подтверждающий прохождение курса, но и личное портфолио. В нем указан уровень владения языком перед началом обучения и в конце; обозначены слабые и сильные акценты в освоении языка; даны рекомендации преподавателя для дальнейшего совершенствования полученных знаний.
