.page-corporate {
  padding-bottom: 18px;
  @include media-breakpoint-up(md) {
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 50px;
  }
  &--fr {
    @include media-breakpoint-up(xl) {
      padding-top: 97px;
    }
     .page-corporate__not-found {
      border: solid 1px #e1e1e1;
      @include media-breakpoint-up(xl) {
        min-height: 104px;
        padding-left: 341px;
        background-position: 31px -36px;
        background-size: 265px auto;
        padding-top: 18px;
        padding-bottom: 18px;
      }
      .lang-card__desc,
      .lang-card__name{
        color: $text-color;
      }

      &--short {
        .lang-card__desc,
        .lang-card__name{
          color: #fff;
        }
      }

      .lang-card__desc {
        @include media-breakpoint-up(xl) {
          margin-bottom: 0 !important;
        }
      }
      .page-corporate__btn {
        @include media-breakpoint-up(xl) {
          min-width: 198px;
        }
      }
    }
  }
  &__header {
    padding-bottom: 32px;
  }
  .foreign-course__list {
    @include media-breakpoint-up(xl) {
      margin-bottom: 36px;
    }
  }
  &__text {
    &--not-found {
      @include media-breakpoint-up(xl) {
        padding-top: 40px;
      }
    }
    p {
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        margin-bottom: 22px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 25px;
        line-height: 26px;
      }
    }
  }
  &__not-found {
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding-top: 27px;
      min-height: 170px;
      margin-bottom: 40px;
      padding-left: 294px;
      background-position: -8px -7px;
      background-size: 268px auto;
    }
    @include media-breakpoint-up(xl) {
      color: #fff;
      min-height: 222px;
    }
    &.lang-card--bg .lang-card__name {
      @include media-breakpoint-up(md) {
        margin-bottom: 1px;
      }
    }
    &.lang-card--bg .lang-card__desc {
      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }
    }
    .lang-card__desc {
      @include media-breakpoint-up(xl) {
        color: #fff;
        line-height: 18px;
      }
    }
    &.lang-card--bg  {
      .lang-card__name {
        @include media-breakpoint-up(xl) {
          margin-bottom: 0;
        }
      }
    }
    .lang-card__name {
      font-size: 18px;
      line-height: 20px;
      @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }
  &__btn {
    @include media-breakpoint-up(md) {
      max-width: 198px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 100%;
      &:hover {
        border-color: #B82730;
        color: #fff;
      }
    }
  }
}
