mixin like-article()
  .like-article.section--grey
    .container
      .like-article__inner
        .row.align-items-md-center
          .col-md
            p.like-article__like-text.h3
              span Вам понравилась статья?&#160;
              | Поделитесь ею с друзьями
          .col-md-auto
            img(src="%=static=%img/general/socials.png")
