.like-article {
  padding-top: 26px;
  padding-bottom: 32px;
  @include media-breakpoint-up(md) {
    min-height: 72px;
    padding-top: 22px;
    padding-bottom: 10px;
  }
  &__like-text {
    font-family: Intro, sans-serif;
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    span {
      display: block;
      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
  }
  &__inner {
    max-width: 858px;
    margin-right: auto;
    margin-left: auto;
  }
}
