mixin page-teacher(data)
  include ../teachers/teachers
  .page-teacher
    .container
      .row
        .col-md-auto
          .page-teacher__photo-wrapper
            .page-teacher__img
              img(src="%=static=%img/content/teach.jpg" alt="Кирьякова Анна")
            a(href="#").page-teacher__btn.btn.btn--red.d-none.d-md-block посмотреть расписание
        .col
          .page-teacher__desc
            h1.h2.page-teacher__title Кирьякова Анна
            .page-teacher__info
              span.grey Английский язык, немецкий язык
              span.grey Раменское
              span.grey Стаж работы — 7 лет
            strong.page-teacher__title-sm Образование:
            p.page-teacher__subtitle.subtitle МИМ ЛИНК Жуковский 2010, бакалавр лингвистики МГГУ им. Шолохова Иностранных языков и международных коммуникаций, учитель иностранного языка.
            strong.page-teacher__title-sm О себе:
            p.page-teacher__subtitle.subtitle Моё знакомство с английским языком произошло в 6 лет, когда я его и безгранично полюбила. Позже, в школе, я постоянно принимала участие во всевозможных мероприятиях, посвящённых английскому языку. Именно поэтому нет ничего удивительного в том, что я выбрала своей профессией преподавание иностранного языка. Работа с детьми - это всегда заряд положительных эмоций, преподавание же взрослым — это, в первую очередь, работа над собой, так как ты должен не только владеть определёнными знаниями и методиками, но и проявлять интерес к политической, экономической, культурной и других сферах нашей жизни. Быть преподавателем — значит не только стремиться совершенствовать свои языковые навыки, но и найти правильный подход, и постоянно поддерживать интерес к политической, экономической, культурной и других сферах нашей жизни. Быть преподавателем - значит не только стремиться совершенствовать свои языковые навыки, но и найти правильный подход, и постоянно поддерживать интерес к изучаемому языку, а также стараться чётко и ясно преподносить информацию. Мне нравится постоянно искать новые материалы, игры, придумывать различные задания, которые помогут полюбить моим студентам иностранный язык так же, как люблю его я. Наверное, одна из главных составляющих человеческого счастья — возможность заниматься тем, что ты хочешь и что умеешь делать, поэтому мне очень повезло: я стала преподавателем.
            strong.page-teacher__title-sm Дополнительная информация:
            p.page-teacher__subtitle.subtitle Сертификаты: 2016 Certificate of Studies в English Language Center (Мальта), 2008 Сертификаты «Подготовка педагогов-психологов для работы с детьми от 1 года до школы», «Аутизм. Работа с аутичными детьми; работа с безречевыми детьми» Содружества Педагогов Раннего Развития.
    +teachers(teachers, false, 'Другие преподаватели')
