.about {
  padding-bottom: 26px;
  @include media-breakpoint-up(md) {
    padding-bottom: 44px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 82px;
  }
  &__title {
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      margin-bottom: 34px;
      letter-spacing: 1px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
      letter-spacing: 1.1px;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 7px;
      padding-top: 6px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 12px;
      margin-right: 26px;
    }
  }
  &__photo {
    flex: none;
    width: 114px;
    height: 114px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 16px;
    @include media-breakpoint-up(md) {
      width: 216px;
      height: 216px;
      margin-bottom: 27px;
    }
    @include media-breakpoint-up(xl) {
      width: 254px;
      height: 254px;
    }
  }
  &__name {
    display: block;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.7px;
    font-style: normal;
    @include media-breakpoint-up(md) {
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0;
    }
    @include media-breakpoint-up(xl) {
      font-size: 24px;
      line-height: 26px;
    }
  }
  &__prof {
    font-family: 'Open Sans', Intro, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
    @include media-breakpoint-up(md) {
      line-height: 24px;
    }
    @include media-breakpoint-up(xl) {
      top: 9px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.3px
    }

  }
  &__desc {
    @include media-breakpoint-up(xl) {
      max-width: 775px;
      margin-bottom: 29px;
    }
    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.1px;
      color: #191919;
      @include media-breakpoint-up(md) {
        margin-bottom: 21px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.3px;
      }
      &:first-child {
        text-indent: 30px;
        &::before {
          content: '“';
          position: absolute;
          left: -16px;
          top: 6px;
          font-family: Arial, Intro sans-serif;
          font-size: 74.5px;
          line-height: 39px;
          color: #c4262e;
          @include media-breakpoint-up(xl) {
            font-size: 80px;
            top: 10px;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
