mixin about(data)
  section.about
    .container
     h1.about__title.h2 Центр изучения иностранных языков&#160;YES
      .row
        .col-md-auto
          .about__col
            .about__photo
              img(src="%=static=%img/content/about-photo.jpg" alt="Сергей Афанаскин")
            .about__info.d-xl-none
              cite.about__name Сергей Афанаскин
              span.about__prof Директор YES Education Group
        .col-md
          .about__desc
            p Современное образовательное пространство уже не имеет границ. Мы выбрали свой путь, завоевывая право на достойное место среди самых достойных. С первых дней открытия Центра мы стремимся соединить богатый опыт и традиции лучших языковых школ Европы с новаторским, иногда неожиданным подходом к решению многих проблем, возникающих в процессе обучения иностранным языкам.
            p Наша цель — обеспечить российским студентам качественное языковое образование на уровне международных стандартов. Это значит: лучший преподавательский состав, оригинальные проекты, самые эффективные учебные материалы, перспективные программы, современное оборудование, комфортные аудитории и многое другое.
          .about__info.d-none.d-xl-block
            cite.about__name Сергей Афанаскин
            span.about__prof Директор YES Education Group
