mixin causes(data)
  section.causes.section
    .container
      h2.causes__title.h2 Пять простых причин учить иностранный язык в центре YES
      ol.causes__list
        li.causes__item 100%-ое погружение в языковую среду. Мы предлагаем эффективное изучение языков на базе авторской коммуникативной методики Flæ∫com. На наших занятиях Вы не услышите русскую речь, и уже с первых занятий Вы начнете говорить на иностранном языке сами! Изучение через общение по методике Flæ∫com выгодно отличается от традиционных учебных программ отсутствием зубрежки.
        li.causes__item Работа на Ваш результат. Мы составим для Вас индивидуальный поэтапный план обучения с учетом Ваших ожиданий. При необходимости наши специалисты организуют подготовку к сдаче платного международного экзамена по иностранному языку, например TOEFL. Наши студенты ставят амбициозные цели, а мы помогаем их достичь!
        li.causes__item Удобное расписание занятий. В лингвистическом центре YES Вы будете учиться по гибкому, удобному именно для Вас, графику. Пропущенные занятия не «сгорают»: Вы сможете отработать их позднее.
        li.causes__item Высокая квалификация преподавателей. Все наши специалисты регулярно повышают свою профессиональную квалификацию и совершенствуют коммуникативные навыки. На базе нашего Центра проводится обучение иностранному языку специально для преподавателей. На базе нашего Центра проводится обучение специально для преподавателей.
        li.causes__item Работа со всеми возрастными группами. Уроки в школе YES рассчитаны на детей от 3 лет, школьников и студентов, взрослых людей. Для каждого возраста разработаны специальные программы. Так, занятия с малышами проводятся в игровой форме, а курсы для школьников помогут подготовиться к экзаменам. Наши платные программы обучения для взрослых направлены в первую очередь на наработку навыков разговорного общения.

