mixin text-section(data)
  section.text-section.section
    .container
      h2.text-section__title.h2 #{data.title}
      p.text-section__subtitle #{data.subtitle}
      .text-section__content !{data.otherText}
