mixin exercise (data)
  section.exercise
    .container
      h2.exercise__title.h2 Задание для King's Speech (Broadcast)
    .exercise__steps-wrapper
      //div(style={width: '40%'}).exercise__line-active
      ol.exercise__steps
        li.exercise__step.red
        li.exercise__step.red
        li.exercise__step.red
        li.exercise__step.red
        li.exercise__step
        li.exercise__step
        li.exercise__step
        li.exercise__step
        li.exercise__step
        li.exercise__step
    .container
      .page-reg__section.page-reg__section--type-education.js-old.p-0
        h3.page-reg__title Let us _____ part in the Exhibition, shall we
        .row.no-gutters
          .col-md-6.col-xl.page-reg__col
            label.page-reg__item
              span.option a)
              input(type="radio" name="select-type-education").page-reg__radio
              span.page-reg__name take
          .col-md-6.col-xl.page-reg__col
            label.page-reg__item
              span.option b)
              input(type="radio" name="select-type-education" checked).page-reg__radio
              span.page-reg__name give
          .col-md-6.col-xl.page-reg__col
            label.page-reg__item
              span.option c)
              input(type="radio" name="select-type-education").page-reg__radio
              span.page-reg__name bring
          .col-md-6.col-xl.page-reg__col
            label.page-reg__item
              span.option d)
              input(type="radio" name="select-type-education").page-reg__radio
              span.page-reg__name to take
