mixin header(data)
  include ../icon/icon
  include ../menu/menu
  header.header
    .header__top
      .container
        .row.justify-content-between.align-items-center
          .col-auto
            form
              button(type="button" data-toggle="modal" data-target="#modal-location").header__you-city
                | Ваш город:&#160;
                if !data.lytcarinoCity
                  span.header__city #{data.city}
                else
                  span.header__city #{data.lytcarinoCity}
          .col-auto.d-xl-flex.align-items-center
            nav
              ul.header__additional-menu.d-none.d-xl-flex
                if data.contacts
                  li.header__item-menu
                    a(href="#").header__link Компаниям
                  li.header__item-menu
                    a(href="#").header__link Франчайзинг
                  li.header__item-menu
                    a(href="#").header__link Разговорный клуб
                  li.header__item-menu
                    a(href="#").header__link Дистанционное обучение
                  li.header__item-menu
                    a(href="#").header__link Онлайн тестирование
                else
                  li.header__item-menu
                    span.header__link.contacts Московская область, Лыткарино, Советская, 14б
                  li.header__item-menu
                    span.header__link.contacts Пн-Пт 10:00—22:00
                  li.header__item-menu
                    span.header__link.contacts Сб-Вс 10:00—16:00
                  li.header__item-menu
                    a(href="mailto:lytkarino@yescenter.ru").header__link.contacts lytkarino@yescenter.ru
            button(type="button" data-toggle="modal" data-target="#modal-search").header__search-btn.text-hide
              +icon('search', 16, 16)
              | Поиск
    .header__bottom
      .container
        .row.justify-content-between.align-items-center.no-gutters
          .col-auto
            .header__logo-wrapper
              a(href="index.html").header__logo
                img(src="%=static=%img/general/logo.svg" width="42" height="42" alt="Иностранные языки в Москве")
              h1.header__site-desc Иностранные языки
                br
                |в Москве
          .col-auto
            .header__user-bar
              .header__item.header__item--contact.d-none.d-md-block
                span.header__title-delivery.d-block Бесплатно по России
                a(href="tel:+488005554477").header__tel 8 800 555-44-77
              .header__item.d-none.d-xl-block
                button(type="button" data-toggle="modal" data-target="#callback").header__order-call.btn.btn--grey заказать звонок
              .header__item.d-none.d-md-block
                button(type="button" data-toggle="modal" data-target="#order-course").header__registered-course.btn.btn--red записаться на курсы
              .header__item.d-xl-none
                button(type="button").header__toggle-menu.js-show-main-menu.text-hide Показать меню
    .header__menu
      +menu()





