mixin header(data)
  include ../icon/icon
  include ../menu/menu
  .header
    .header__top
      .container
        .row.justify-content-between.align-items-center
          .col-auto
            form
              span.header__you-city Ваш город:
              select.header__select-city.js-select-location
                option Москва
                option Санкт-Перебург
          .col-auto.d-xl-flex.align-items-center
            ul.header__additional-menu.d-none.d-xl-flex
              li.header__item-menu
                a(href="#").header__link Компаниям
              li.header__item-menu
                a(href="#").header__link Франчайзинг
              li.header__item-menu
                a(href="#").header__link Разговорный клуб
              li.header__item-menu
                a(href="#").header__link Дистанционное обучение
              li.header__item-menu
                a(href="#").header__link Онлайн тестирование
            form
              label(for="search").hidden Поиск
              input(type="search" required).header__search#search
              button.header__search-btn.js-show-search.text-hide
                +icon('search', 16, 16)
                | Поиск
    .header__bottom
      .container
        .row.justify-content-between.align-items-center.no-gutters
          .col-auto
            .header__logo-wrapper
              a(href="#").header__logo
                img(src="%=static=%img/general/logo.svg" width="42" height="42" alt="Иностранные языки в Москве")
              h1.header__site-desc Иностранные языки
                br
                |в Москве
          .col-auto
            .header__user-bar
              .header__item.header__item--contact.d-none.d-md-block
                span.header__title-delivery.d-block Бесплатно по России
                a(href="tel:+488005554477").header__tel 8 800 555-44-77
              .header__item.d-none.d-xl-block
                button.header__order-call.btn.btn--grey заказать звонок
              .header__item.d-none.d-md-block
                button.header__registered-course.btn.btn--red записаться на курсы
              .header__item.d-xl-none
                button(type="button").header__toggle-menu.js-show-main-menu.text-hide Показать меню
    .header__menu
      +menu()





