.our-program {
  padding-bottom: 32px;
  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 88px;
    padding-bottom: 98px;
  }
  &__title {
    margin-bottom: 16px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  .subtitle {
    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 58px;
    }
  }
  .lang-card__name {
    letter-spacing: 0;
  }
  .lang-card__lang-title {
    span {
      display: block;
      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
  }
  .lang-card {
    &.our-program__corporate-card {
      min-height: 184px;
      @include media-breakpoint-up(md) {
        height: 207px;
        padding-top: 50px;
        padding-bottom: 32px;
      }
      @include media-breakpoint-up(xl) {
        height: auto;
      }
      .lang-card__name {
        margin-bottom: 10px;
      }
    }

  }
  .page-corporate__not-found {
    @include media-breakpoint-up(md) {
      padding-left: 295px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 104px;
      margin-top: 32px;
      padding-left: 344px;
      margin-bottom: 0;
      background-position: 25px -37px;
    }
  }
}
