mixin subscribe(data)
  section.subscribe.section
    .container
      form.subscribe__inner.form#subscribe
        .row
          .col-md-auto
            .subscribe__img
              img(src="%=static=%img/general/letter.png" alt="Подпишитесь на нашу новостную рассылку")
          .col-md
            .subscribe__body
              h3.subscribe__title
                span Подпишитесь&#160;
                | на нашу новостную рассылку
              .row
                .col-xl-6
                  label(for="subscribe-email").hidden Ваше имя и фамилия
                  input(type="email" placeholder="Ваша электронная почта" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,3}$" required).subscribe__field.form__field#subscribe-email
                .col-xl-6
                  button.subscribe__btn.btn.btn--red Отправить
