mixin videoBlock(data)
  div.video-lessons__item
    div(data-embed="5D0OyvlDV6U" data-title="Видео").embed-responsive.embed-responsive-16by9.youtube.embed-responsive-item
      button(type="button").youtube__play-button Воспроизвести видео
    h3.video-lessons__title
      a(href="#") !{data.title}
    p.video-lessons__desc !{data.desc}
mixin video-lessons(data)
  section.video-lessons
    .container
      p.video-lessons__subtitle.
        Известно, что большинство людей воспринимают информацию через зрительные образы. Это особенно важно в&#160;изучении английского языка.
        Хорошо, если вам повезло с&#160;учителем, который не&#160;только уверенно знает свой предмет, но&#160;и&#160;умеет подробно объяснить сложный материал на&#160;примерах из&#160;фильмов, песен, выступлений. Но&#160;к&#160;сожалению, это большая редкость. Поэтому мы&#160;решили создавать для вас видеоуроки, которые
        в&#160;легкой и&#160;доступной форме помогут вам эффективнее усваивать правила и&#160;секреты английского языка. Наши уроки будут полезны как новичкам,
        так и&#160;людям с&#160;достаточно высоким уровнем владения языком. А&#160;если у&#160;вас есть свои пожелания по&#160;темам выпусков, можете оставлять их
        в&#160;комментариях к&#160;видео. Итак, путешествие начинается!
      .row
        each item in data
          .col-md-6.video-lessons__col
            +videoBlock(item)
