mixin certificates(data)
  section.certificates.section--grey
    .container
      .row
        .col-md-6
          .certificates__item
            a(href="%=static=%img/content/page-cert-1.png" data-fancybox="gallery").certificates__img
              img(src="%=static=%img/content/page-cert-1.png" alt="Центр иностранных языков ")
            p.certificates__text Центр иностранных языков YES является официальным партнером компании Pearson — крупнейшей в мире образовательной компании и мирового лидера в области издания учебной литературы для изучающих и преподающих английский язык.
        .col-md-6
          .certificates__item
            a(href="%=static=%img/content/page-cert-2.png" data-fancybox="gallery").certificates__img
              img(src="%=static=%img/content/page-cert-2.png" alt="Центр иностранных языков ")
            p.certificates__text Центр иностранных языков YES является открытым международным центром по обучению, подготовке и приему международного экзамена по английскому языку Pearson Test of English.

