.teachers-list {
  @include media-breakpoint-up(xl) {
    padding-top: 87px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-right: -32px;
    @include media-breakpoint-up(xl) {
      margin-right: -56px;
      margin-left: -56px;
    }
  }
  &__col {
    width: 100%;
    margin-right: 32px;
    margin-left: 32px;
    &:last-child, &:nth-child(4n) {
      @include media-breakpoint-up(xl) {
        width: 240px;
      }
    }
    @include media-breakpoint-up(md) {
      width: 192px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 56px;
      margin-left: 56px;
    }
  }
  &__header {
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }
  }
  &__title {
    margin-bottom: 22px;
    @include media-breakpoint-up(md) {
      margin-bottom: 27px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }
  .teacher__name cite {
    @include media-breakpoint-up(md) {
      font-size: 22px;
    }
  }
  .teacher__name {
    @include media-breakpoint-up(xl) {
      margin-bottom: 8px;
    }
  }
  .form .SumoSelect {
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__label {
    display: block;
    margin-bottom: 7px;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.8px;
    color: #898989;
    text-transform: uppercase;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
  &__select-inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 48px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }
  &__select {
    @include media-breakpoint-up(md) {
      width: 236px;
    }
    @include media-breakpoint-up(xl) {
      width: 255px;
    }
  }
  &__list {
    @include media-breakpoint-up(xl) {
      margin-bottom: 22px;
    }
  }
  &__item {
    margin-bottom: 22px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
      text-align: left;
    }
    .teacher__img {
      width: 192px;
      height: 192px;
      img {
        width: 192px;
        height: 192px;
      }
    }
  }
  &__footer {
    margin-bottom: 32px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__show-more {
    color: $text-color;
    @include media-breakpoint-up(md) {
    }
  }
  &__list {
    @include media-breakpoint-up(xl) {
      margin-bottom: 41px;
    }
    .teachers-list__num:nth-child(n+5) {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    &.active {
      .teachers-list__num:nth-child(n+5) {
        display: block;
      }
    }
  }
}
