mixin teachers-list(data)
  include ../teacher/teacher
  include ../trial-lesson/trial-lesson
  section.teachers-list.section.section--grey
    .container
      header.teachers-list__header
        .row.align-items-xl-center
          .col-xl
            h2.teachers-list__title.h2 Давайте знакомиться
          .col-xl-auto
            form.teachers-list__select-inner.form#teachers-list
              label(for="teachers-list-select-school").teachers-list__label Выберете школу
              .form__select-custom.teachers-list__select
                select(id="teachers-list-select-school").page-schedule__select.js-select-defaul
                  option Раменское
                  option Кузьминки
      .teachers-list__row.teachers-list__list.js-list-teachers
        each item in data
          .teachers-list__col
            +teacher(item).teachers-list__item
      .teachers-list__footer
        button(type="button").teachers-list__show-more.btn.btn--grey.js-show-all-teachers.d-md-none показать еще
    +trial-lesson(true)



