mixin corporate-education (data)
  include ../icon/icon
  section.corporate-education
    .container
      h2.corporate-education__title.h2 !{data.title}
      img(src="%=static=%img/content/single-photo.jpg" alt="Корпоративное обучение иностранным языкам").corporate-education__img
      h3.corporate-education__subtitle Корпоративное изучение иностранных языков по Москве и Московской области:
      p.corporate-education__text Информацию о цене курса можно узнать по нашему телефону или написать нам по электронной почте, и мы подберем подходящий вам вариант и рассчитаем стоимость.
      .corporate-education__contacts
        a(href="tel:+74959849710")
          +icon('phone', 10, 16)
          | +7 495 984-97-10,
        a(href="tel:+79260796779") +7 926 079-67-79

        a(href="mailto:corporate@yescenter.ru").d-flex
          +icon('mail', 16, 12)
          | corporate@yescenter.ru
      a(href="#").corporate-education__btn.btn.btn--red #{data.btnText}
