.teachers {
  padding-bottom: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  @include media-breakpoint-up(md) {
    padding-bottom: 34px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 72px;
    padding-bottom: 80px;
  }
  &__title {
    margin-bottom: 18px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  &__subtitle {
    @include media-breakpoint-up(xl) {
      max-width: 1045px;
    }
  }
  &__wrapper {
    position:relative;
    .container {
      padding-right: 0;
      @include media-breakpoint-up(sm) {
        margin-left: calc((100vw - 540px)/2);
        max-width: calc(540px + (100vw - 540px / 2));
      }
      @include media-breakpoint-up(md) {
        max-width: 768px;
        margin-left: auto;
        padding-right: 32px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 960px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1216px;
      }
    }
  }
  &__slider {
    padding: 0;
    margin-bottom: 0;
    font-size: 0;
  }
  .slick-list {
    @include media-breakpoint-up(md) {
      margin-right: -32px;
      margin-left: -32px;
    }
    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  .slick-slide {
    width: 166px;
    margin-right: 28px;
    @include media-breakpoint-up(md) {
      width: auto;
      margin-right: 32px;
      margin-left: 32px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 54px;
      margin-left: 54px;
    }
  }
  &__arrow {
    position:absolute;
    top: 72px;
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
  &__footer {
    padding-top: 10px;
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
  }
}
