mixin playschool(data)
  section.playschool
    .container
      h2.playschool__title.h2 Британский детский садик
    .order
      .order__inner.section--grey
        .container
          .order__title.h3 С 11:00 до 13:00 часов. Для&#160;ребят в возрасте от&#160;3&#160;до&#160;6&#160;лет.
          .order__footer
            button(type="button").order__btn.btn.btn--red оставьте заявку
            p.order__text или позвоните по номеру
              a(href="#") 8 800 555-44-77
      .container
        p.order__desc При языковом центре YES Education Group работает Британский детский сад для детей 3-6 лет, где дети не только изучают английский язык с опытными преподавателями, но и открывают в себе новые таланты и получают полезные навыки! Уникальная программа для детей на английском языке: декоративно-прикладное искусство, музыка, изостудия, спортивные игры, математика, кулинарные мастер-классы, театральные постановки, «5 o'clock tea». Программа детского сада разработана опытными педагогами и психологами специально для ребят столь юного возраста.


