mixin base(data)
  section.base.courses.section.section--grey.foreign-course&attributes(attributes)
    .container
      .row
        each item in data.list
          .col-md-6.col-xl-3
            .lang-card
              .lang-card__top
                .lang-card__flag
                  img(src="%=static=%img/general/" + item.countryImg width="40" height="26" alt=item.countryNameAlt)
                h3.lang-card__lang-title
                  a(href="#") !{item.countryName}
