.base {
  padding-bottom: 8px;
  @include media-breakpoint-up(md) {
    padding-bottom: 16px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 56px;
  }
  .lang-card {
    min-height: initial;
    margin-bottom: 24px;
    padding-bottom: 24px;
    width: 100%;
    @include media-breakpoint-up(md) {
      min-height: 112px;
      margin-bottom: 32px;
      padding: 25px 32px 21px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 160px;
    }
  }
  .lang-card__flag {
    @include media-breakpoint-up(md) {
      margin-right: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 0;
    }
  }
  .lang-card__flag img {
    @include media-breakpoint-up(md) {
      margin-top: 6px;
    }
  }
  .lang-card__top {
   @include media-breakpoint-up(md) {
     flex-direction: row;
   }
    @include media-breakpoint-up(xl) {
      flex-direction: column;
    }
  }
  .lang-card__lang-title {
    margin-bottom: 0;
    span {
      display: block;
    }
  }
}
