.preparation {
  border-top: 1px solid #ebebeb;
  padding-top: 24px;
  padding-bottom: 32px;
  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 48px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 62px;
    padding-bottom: 90px;
  }
  &__title {
    margin-bottom: 8px;
    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 28px;
    }
  }
  &__duration {
    margin-bottom: 28px;
    @include media-breakpoint-up(md) {
      margin-bottom: 38px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 72px;
    }
    strong {
      display: block;
      margin-bottom: 12px;
      font-family: Intro, Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &__item {
    margin-bottom: 32px;
    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 70px;
    }
    &:nth-of-type(1) {
      img {
        @include media-breakpoint-up(md) {
          width: 57px;
          height: 57px;
        }
        @include media-breakpoint-up(xl) {
          width: 76px;
          height: 76px;
        }
      }
    }
    &:nth-of-type(2) {
      img {
        @include media-breakpoint-up(md) {
          width: 61px;
          height: 58px;
        }
        @include media-breakpoint-up(xl) {
          width: 81px;
          height: 77px;
        }
      }
    }
    &:nth-of-type(3) {
      img {
        @include media-breakpoint-up(md) {
          width: 46px;
          height: 58px;
        }
        @include media-breakpoint-up(xl) {
          width: 63px;
          height: 82px;
        }
      }
    }
    &:nth-of-type(4) {
      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }
      img {
        @include media-breakpoint-up(md) {
          width: 59px;
          height: 56px;
        }
        @include media-breakpoint-up(xl) {
          width: 61px;
          height: 79px;
        }
      }

    }
    &:nth-of-type(5) {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
      img {
        @include media-breakpoint-up(md) {
          width: 47px;
          height: 52px;
        }
        @include media-breakpoint-up(xl) {
          width: 78px;
          height: 74px;
        }
      }
    }
    &:nth-of-type(6) {
      img {
        @include media-breakpoint-up(md) {
          width: 59px;
          height: 52px;
        }
        @include media-breakpoint-up(xl) {
          width: 78px;
          height: 81px;
        }
      }

    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 73px;
    margin-right: 24px;
    background-color: $secondary-red;
    border-radius: 50%;
    transition: $transition-base;
    @include media-breakpoint-up(md) {
      width: 96px;
      height: 96px;
    }
    @include media-breakpoint-up(xl) {
      width: 128px;
      height: 128px;
    }
  }
  &__text {
    margin-bottom: 0;
    font-family: Intro, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
