mixin breadcrumb(data)
  ul.breadcrumb
    each item in data
      if item.link
        li.breadcrumb__item
          a(href=item.link).breadcrumb__link #{item.name}
      else
        li.breadcrumb__item #{item.name}
