mixin modal-location(data)
  .modal-location
    div(tabindex="-1" role="dialog" aria-labelledby="select-your-city" aria-hidden="true").callback.modal#modal-location
      div(role="document").modal-dialog.d-flex.justify-content-center.modal-dialog-centered
        form.modal-conten.map__form
          button(type="button" data-dismiss="modal" aria-label="Close").btn-close.form__close
            +icon('close', 14, 14)
            | Закрыть
          p.map__title.modal-title.title#select-your-city Выберите ваш город
          .modal-location__row
            .modal-location__container
              .modal-location__city-col
                span.modal-location__city Москва
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Москва
                  li
                    a(href="#") Солнцево
                  li
                    a(href="#") Хорвино
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Метро Кузьминки
                  li
                    a(href="#") Метро Павелецкая
                  li
                    a(href="#") Метро Перово
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Метро Каховская
                  li
                    a(href="#") Метро Топарево
          .modal-location__row
            .modal-location__container
              .modal-location__city-col Московская
                  br
                  | область
              .modal-location__col-list
                ul.modal-location__list
                  li

                    a(href="#") Люберцы
                  li
                    a(href="#") Рамеское
                  li
                    a(href="#") Жуковский
                  li
                    a(href="#") Балашиха
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Волокаламск
                  li
                    a(href="#") Латкарино
                  li
                    a(href="#") Егорьевск
                  li
                    a(href="#") Щелково
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Подольск
                  li
                    a(href="#") Пушкино
                  li
                    a(href="#") Коломна
          .modal-location__row
            .modal-location__container
              .modal-location__city-col Ленинградская
                  br
                  | область
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Санкт-Петербург
          .modal-location__row
            .modal-location__container
              .modal-location__city-col Тульская
                  br
                  | область
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Тула
          .modal-location__row
            .modal-location__container
              .modal-location__city-col Владимирская
                  br
                  | область
              .modal-location__col-list
                ul.modal-location__list
                  li
                    a(href="#") Александров
