mixin page-for-kids-small(data)
  include ../timetable/timetable
  include ../trial-lesson/trial-lesson
  .page-for-kids-small.page-forKids.page-eng.section.section--grey
    .container
      +timetable(timetableKidsFour)
      +trial-lesson()
    section.additional.section
      .container
        h2.h2.additional__title Чем раньше начнете изучение иностранного языка, тем быстрее и проще пройдет обучение.
        .row
          .col-xl-6
            .additional__text
              .additional__sect
                p В этом возрасте очень важно развивать коммуникативные навыки, чтобы ребята могли свободно общаться между собой и с преподавателем. Все занятия по обучению английскому с нуля построены таким образом, что дети от 3 до 4 лет на протяжении всего урока с интересом следят за происходящим и активно участвуют в обучении без физического или эмоционального переутомления. Наши опытные преподаватели внимательно следят за поведением и состоянием каждого ребенка.
          .col-xl-6
            .additional__text
              .additional__sect
                p Мы создаем условия для того, чтобы ребенок полностью погрузился в другую языковую среду и начал воспринимать английскую речь естественно. Для этого все занятие проводится исключительно на английском, при этом значения новых слов передаются преподавателем при помощи мимики, жестов, наглядных пособий и рисунков.
