mixin interestring-education(data)
  include ../lang-card/lang-card
  section.interestring-education.courses
    .container
      h2.interestring-education__title.h2 Меня интересует обучение
    .courses__content.courses__content--slider
      .container
        div(role="tabpanel").courses__panel.active.show#en
          .row.js-slider-course
            each item in data.items
              .col-auto.col-xl-3
                +lang-card(item, 'записаться').lang-card--border.courses__item
    .container
      .courses__dots
