mixin page-corporate-fr(data)
  .page-corporate-fr.page-eng.section.section--grey
    .container
      h2.page-corporate-fr__title.h2 Наши программы
      p.page-corporate-fr__subtitle.subtitle Согласно статистике на французском языке могут общаться порядка 76 миллионов человек в мире. Его носители составляют существенную часть населения в таких странах как Канада, Бельгия, Швейцария, Монако и, конечно, самой Франции. Интерес к языку подкрепляется лидерством Франции во многих областях – в индустрии красоты и моды, в гастрономии и киноискусстве. Париж входит в карту желаний едва ли не всех реальных и потенциальных путешественников. Все это делает Францию желанным партнером в самых разных областях предпринимательства. Для многих компаний изучение французского языка – настоятельная потребность.
      .page-eng__list-card
        .row
          each itemList in data.listCard
            .col-xl-6.d-flex.align-content-stretch
              .lang-card.page-eng__card
                h3.page-eng__title-card.lang-card__name
                  a(href="#") !{itemList.title}
                span.page-eng__subtitle.grey !{itemList.info}
                p.page-eng__desc.lang-card__desc !{itemList.desc}
                a(href="#").lang-card__more.page-eng__more.btn.btn--border-red отправить заявку
      .page-corporate-fr__text
        .row
          .col-xl
            p Что дает знание французского для успешного ведения бизнеса? Личный контакт с деловыми партнерами без посредничества переводчиков, ведение телефонных переговоров и переписки, оперативное уточнение деталей и согласование текущих вопросов, самостоятельное изучение инструкций и профессиональной литературы в оригинале, полноценное участие в выставочных кампаниях – все это важно и для рядовых менеджеров, и для владельцев предприятий.
            p Индивидуальные курсы для топ-менеджеров и групповое обучение для специалистов – самые распространенные варианты обучения сотрудников французскому языку. Они отличаются по цене и насыщенности, но в обоих случаях дают высокий уровень владения языком с учетом сферы деятельности компании.
          .col-xl
            p Лингвистический Центр YES проводит корпоративное обучение в Москве, Московской области и по всей России. Мы готовы провести презентацию нашего Центра, обсудить условия сотрудничества и стоимость обучения на встрече.
            p Успех обучения на курсах французского языка для компаний обеспечивает уникальная методика преподавания, многократно доказавшая свою эффективность как в Европе, так и у нас в Москве. Она опирается на высокую мотивацию слушателей, учитывает их профессиональные интересы и гарантирует психологически выверенное, грамотное структурирование материала.
