mixin shares(data)
  include ../trial-lesson/trial-lesson
  .page-shares
    section.shares
      .container
        h2.h2.shares__title Занимайся английским по утрам со&#160;скидкой&#160;20%
        .row
          .col-xl-6
            article.shares__img
              img(src="%=static=%img/content/shares.jpg" alt="Занимайся английским по утрам со скидкой 20%")
              .shares__text
                h3.shares__subject Утренний
                  br
                  | английский
                p.shares__discount Со скидкой 20%
          .col-xl-6
            .shares__content
              p Хотите свободно общаться на английском языке и понимать иностранную речь как родную? Центр Иностранных Языков YES приглашает вас на утренний кофе и занятия со скидкой в 20%! Проведи утро с максимальной пользой!
              p
                | С 9.00 до 13.00 по будням.
                br
                | Акция распространяется на групповые занятия для всех возрастов.
              p
                | Школы участвующие в акции:
                br
                | г.Жуковский, г.Раменское, г.Люберцы, г.Балашиха, г.Пушкино, г.Подольск, р-н Ховрино, р-н Солнцево, м.Кузьминки.
              a(href="#").shares__btn.btn.btn--red отправить заявку
  +trial-lesson(true).trial-lesson--border
