mixin partners(data)
  section.partners.section
    .container
      h2.partners__title.h2 наши партнеры
      ul.partners__slider.js-partners-slider
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/wano.png" alt="wano")
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/spbmtsb.png"  alt="spbmtsb")
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/gefco.png" alt="gefco")
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/ile.png" alt="ile")
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/serdix.png" alt="serdix")
        li
          a(href="#").partners__slide
            img(src="%=static=%img/content/hollihop.png" alt="hollihop")
