mixin partners(data)
  section.partners.section&attributes(attributes)
      .container
        h2.partners__title.h2 #{data.title}
      .partners__slider-wrapper
        button(type="button").partners__arrow.slide-arrow.slide-arrow--prev.text-hide.js-partners-prev-btn
          +icon('arrow-left', 12, 11)
          | Предадущий слайд
        button(type="button").partners__arrow.slide-arrow.slide-arrow--next.text-hide.js-partners-next-btn
          +icon('arrow-right', 12, 11)
          | Следующий слайд
        .container
          ul(class="partners__slider "+data.classSlider)
            each item in data.list
              li
                a(href="#").partners__slide
                  img(src="%=static=%img/content/"+item.imgSrc alt=+item.name)
