.partners {
  padding-top: 35px;
  padding-bottom: 25px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 37px;
    padding-bottom: 40px
  }
  @include media-breakpoint-up(xl) {
    padding-top: 77px;
    padding-bottom: 88px;
  }
  &--third-row {
    .partners__slide {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 6px;
      @include media-breakpoint-up(md) {
        margin-top: 9px;
        margin-bottom: 9px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .slick-list {
      margin-top: -6px;
      margin-bottom: -6px;
      @include media-breakpoint-up(md) {
        margin-top: -9px;
        margin-bottom: -9px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: -10px;
        margin-bottom: -10px;
      }
    }
  }
  &__title {
    margin-bottom: 27px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
    }
  }
  &__slider {
    padding: 0;
    margin-bottom: 0;
  }
  .slick-track {
    margin: 0;
  }
  .slick-list {
    margin-right: -8px;
    margin-left: -8px;
    @include media-breakpoint-up(md) {
      margin-right: -9px;
      margin-left: -9px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: -10px;
      margin-left: -10px;
    }
  }
  .slick-slide {
    margin-right: 8px;
    margin-left: 8px;
    @include media-breakpoint-up(md) {
      margin-right: 9px;
      margin-left: 9px;
    }
    @include media-breakpoint-up(xl) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    padding: 16px;
    border: solid 1px #e1e1e1;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      padding: 0;
      width: 162px;
      height: 162px;
    }
    @include media-breakpoint-up(xl) {
      width: 175px;
      height: 175px;
    }
  }
  .slick-dots {
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      padding-top: 25px;
      justify-content: flex-start;
      margin-left: -5px;
    }
  }
  &__slider-wrapper {
    position: relative;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }
}
