mixin pagination()
  .pagination&attributes(attributes)
    .container
      .pagination__inner
        .row.justify-content-md-between.align-items-md-center
          .col-md-auto.order-md-2
            ul.pagination__list
              li.pagination__page.active
                a(href="#").pagination__link 1
              li.pagination__page
                a(href="#").pagination__link 2
              li.pagination__page
                a(href="#").pagination__link 3
              li.pagination__page
                a(href="#").pagination__link 4
              li.pagination__page
                a(href="#").pagination__link 5
              li.pagination__page
                a(href="#").pagination__link 6
              li.pagination__page
                a(href="#").pagination__link 7

          .col-auto.mr-auto.mr-md-0.order-md-1.d-flex.align-items-center
            a(href="#").pagination__arrow.show-all.disable
              span &larr;&nbsp;
              | Предыдущая
              .d-none.d-xl-inline &#160;страница
          .col-auto.ml-auto.ml-md-0.order-md-3.d-flex.align-items-center
            a(href="#").pagination__arrow.show-all
              | следующая&#160;
              .d-none.d-xl-inline страница&#160;
              span(aria-hidden="true") &nbsp;&rarr;
