mixin modal-job(data)
    .modal-job
      div(tabindex="-1" role="dialog" aria-labelledby="orderCourceModalLabel" aria-hidden="true").callback.modal.fade.order-course#modal-job
        div(role="document").modal-dialog.d-flex.justify-content-center
          form.modal-conten.form.map__form#modal-job-form
            button(type="button" data-dismiss="modal" aria-label="Close").btn-close.form__close
              +icon('close', 14, 14)
              | Закрыть
            p.map__title.modal-title Откликнуться
              br
              | на вакансию
            label(for="modal-job-form-name").hidden Представьтесь, пожалуйста *
            input(placeholder="Представьтесь, пожалуйста *" name="name" required).form__field#modal-job-form-name
            label(for="modal-job-form-phone").hidden Контактный номер телефона *
            input(type="tel" placeholder="Контактный номер телефона *"  name="phone" required).form__field.callback__phone#modal-job-form-phone

            .modal-job__file
              label.form__field.js-attach-file
                span.grey Прикрепить резюме
                input(type="file").js-file-field.hidden
              button(type="button").js-select-remove-file.modal-job__btn select/remove
            label(for="modal-job-form-link").hidden Ссылка на резюме на hh.ru
            input(type="url" placeholder="Ссылка на резюме на hh.ru" pattern="https?://.+" name="name").form__field#modal-job-form-link
            p.map__conf Нажимая на кнопку «Отправить заявку», я даю согласие на обработку персональных данных и соглашаюсь c&#160;
              a(href="#" class="js-open-agreement" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#agreement") политикой конфиденциальности
            button.btn.btn--red.w-100.js-succes-send Отправить заявку
