.kids-program-order {
  display: flex;
  min-height: 496px;
  color: #fff;
  @include media-breakpoint-up(md) {
    min-height: 350px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 264px;
  }
  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 28px 24px 32px;
    background: url(%=static=%content/kids_banner.png) no-repeat right -5px bottom 0, radial-gradient(farthest-corner at 50% 270px, #77d5ee, #116592) no-repeat center bottom;
    @include media-breakpoint-up(md) {
      padding: 40px 32px 48px;

      background-position: right 0;
      background-image: url(%=static=%content/kids_banner_sm.png);
      background-color: #0d6077;
    }
    @include media-breakpoint-up(xl) {
      padding: 44px 44px 47px;
      background-image: url(%=static=%content/kids_banner_xl.png);
    }
    ul {
      padding: 0;
      margin-bottom: 0;
      list-style-type: none;
      @include media-breakpoint-up(md) {
        max-width: 281px;
        margin-bottom: 8px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 100%;
      }
    }
    li {
      margin-bottom: 18px;
      font-family: 'Open Sans', Intro, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.3px;
      @include media-breakpoint-up(md) {
        margin-bottom: 4px;
        line-height: 22px;
      }
      b {
        font-weight: 600;
      }
    }
  }
  &__title {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2px;
    @include media-breakpoint-up(md) {
      margin-bottom: 18px;
      font-size: 28px;
      line-height: 30px;
      letter-spacing: -0.3px;
    }
    @include media-breakpoint-up(xl) {
      letter-spacing: -0.5px;
      font-size: 50px;
      line-height: 42px;
    }
  }
  &__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    @include media-breakpoint-up(xl) {
      flex-grow: 0;
      margin-top: auto;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    span {
      font-size: 16px;
      line-height: 20px;
      @include media-breakpoint-up(md) {
        max-width: 303px;
        font-size: 20px;
        line-height: 22px;
      }
      @include media-breakpoint-up(xl) {

      }
    }

  }
  &__btn {
    margin-top: auto;
    @include media-breakpoint-up(md) {
      max-width: 278px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 278px;
      margin-top: 0;
      margin-right: 26px;
    }
  }
}
